@using Microsoft.AspNetCore.Mvc.Localization
@model ScientificReport.DAL.Entities.ScientificConsultation
@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = Localizer["Details"];
}

<h3>@Localizer["Details"]</h3>

<div>
    <h5>@Localizer["ScientificConsultation"]</h5>
    <hr />
    <dl class="row">
        <dt class = "col s4">
            @Localizer[Html.DisplayNameFor(model => model.CandidateName)]
        </dt>
        <dd class = "col s8">
            @Html.DisplayFor(model => model.CandidateName)
        </dd>
        <dt class = "col s4">
            @Localizer[Html.DisplayNameFor(model => model.DissertationTitle)]
        </dt>
        <dd class = "col s8">
            @Html.DisplayFor(model => model.DissertationTitle)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id" class="waves-effect btn-small waves-light">@Localizer["Edit"]</a>
    <a asp-action="Index" class="btn-small blue darken-3">@Localizer["Back to List"]</a>
</div>
