@using Microsoft.AspNetCore.Mvc.Localization
@model ScientificReport.DAL.Entities.ScientificConsultation
@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = Localizer["Details of scientific consultation"];
}

<div>
    <h5>@ViewData["Title"]</h5>
    <hr />
    <dl class="row">
        <dt class = "col s4">
            @Localizer["Candidate last, first and middle names"]
        </dt>
        <dd class = "col s8">
            @Html.DisplayFor(model => model.CandidateName)
        </dd>
        <dt class = "col s4">
            @Localizer["Dissertation title"]
        </dt>
        <dd class = "col s8">
            @Html.DisplayFor(model => model.DissertationTitle)
        </dd>
    </dl>
</div>
<div style="margin-top: 20px">
    <a asp-action="Edit" asp-route-id="@Model.Id" class="waves-effect btn-small waves-light">@Localizer["Edit"]</a>
    <a asp-action="Index" class="btn-small blue darken-3">@Localizer["Back to list"]</a>
</div>
