@using Microsoft.AspNetCore.Mvc.Localization
@model ScientificReport.DAL.Entities.ScientificConsultation
@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = Localizer["Edit"];
}

<h1>@Localizer["Edit"]</h1>

<h4>@Localizer["ScientificConsultation"]</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="CandidateName" class="control-label">@Localizer["CandidateName"]</label>
                <input asp-for="CandidateName" class="form-control" />
                <span asp-validation-for="CandidateName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DissertationTitle" class="control-label">@Localizer["DissertationTitle"]</label>
                <input asp-for="DissertationTitle" class="form-control" />
                <span asp-validation-for="DissertationTitle" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="@Localizer["Save"]" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">@Localizer["Back to List"]</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
