@using Microsoft.AspNetCore.Mvc.Localization
@model ScientificReport.DTO.Models.Opposition.OppositionModel
@inject IViewLocalizer Localizer

@{
	ViewData["Title"] = Localizer["Add opposition"];
}

<h5>@Localizer["Add opposition"]</h5>
<hr />
<div class="row">
	<div class="col s12">
		<form asp-action="Create">
			<div asp-validation-summary="ModelOnly" class="validate"></div>
			<div class="row">
				<div class="input-field col s6">
					<textarea asp-for="About" class="materialize-textarea"></textarea>
					<label asp-for="About">@Localizer["About"]</label>
					<span class="helper-text" asp-validation-for="About" 
						  data-length="400" data-error="" data-success=""></span>
				</div>
			</div>
			<div class="row">
				<div class="input-field col s6">
					<input asp-for="DateOfOpposition" type="date" class="validate"/>
					<label asp-for="DateOfOpposition">@Localizer["Date of opposition"]</label>
					<span class="helper-text" asp-validation-for="DateOfOpposition" 
						   data-error="" data-success=""></span>
				</div>
			</div>
	
			<div class="row myButtons">
				<button type="submit" class="waves-effect btn-small accent-2">@Localizer["Create"]</button>
				<a asp-action="Index" class="waves-effect btn-small blue darken-3">@Localizer["Cancel"]</a>
			</div>
		</form>
	</div>
</div>

@section Scripts {
	@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
