@using Microsoft.AspNetCore.Mvc.Localization
@model ScientificReport.DAL.Entities.Opposition
@inject IViewLocalizer Localizer

@{
	ViewData["Title"] = Localizer["Details of opposition"];
}

<div>
	<h5>@ViewData["Title"]</h5>
	<hr />
	<dl class="row">
		<dt class = "col s2">
			@Localizer[Html.DisplayNameFor(model => model.About)]
		</dt>
		<dd class = "col s10">
			@Html.DisplayFor(model => model.About)
		</dd>
		<dt class = "col s2">
			@Localizer["Date of opposition"]
		</dt>
		<dd class = "col s10">
			@Html.DisplayFor(model => model.DateOfOpposition)
		</dd>
		<dt class = "col s2">
			@Localizer["Opponent"]
		</dt>
		<dd class="col s10">
			<a asp-controller="UserProfile" asp-action="Details"
			   asp-route-id="@Model.Opponent.Id">
				@Model.Opponent.FullName
			</a>
		</dd>
	</dl>
</div>
<div style="margin-top: 20px">
	<a asp-action="Edit" asp-route-id="@Model.Id" class="waves-effect btn-small waves-light">@Localizer["Edit"]</a>
	<a asp-action="Index" class="btn-small blue darken-3">@Localizer["Back to list"]</a>
</div>
