@using Microsoft.AspNetCore.Mvc.Localization
@model ScientificReport.DAL.Entities.Conference
@inject IViewLocalizer Localizer

@{
	ViewData["Title"] = Localizer["Conference's creation"];
}

<h5>@ViewData["Title"]</h5>
<hr />
<div class="row">
	<div class="col s12">
		<form asp-action="Create" class="col s12">
			<div asp-validation-summary="ModelOnly" class="validate"></div>
			<div class="row">
				<div class="input-field col s6">
					<input asp-for="Topic" type="text" class="validate">
					<label asp-for="Topic">@Localizer["Topic"]</label>
					<span class="helper-text" asp-validation-for="Topic" data-error="some data is in bad format" data-success=""></span>
				</div>
			</div>
			<div class="row">
				<div class="input-field col s6">
					<input asp-for="Date" type="date" class="validate">
					<label asp-for="Date">@Localizer["Date"]</label>
					<span asp-validation-for="Date" data-error="" data-success=""></span>
				</div>
			</div>
			<div class="row myButtons">
				<button type="submit" class="waves-effect btn-small accent-2">@Localizer["Create"]</button>
				<a asp-action="Index" class="waves-effect btn-small blue darken-3">@Localizer["Cancel"]</a>
			</div>
		</form>
	</div>
</div>

@section Scripts {
	@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
