@model ScientificReport.DTO.Models.Conference.ConferenceDetails

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Conference</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Conference.Topic)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Conference.Topic)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Conference.Date)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Conference.Date)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Conference.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
