@using Microsoft.AspNetCore.Mvc.Localization
@model ScientificReport.DTO.Models.Conference.ConferenceEdit
@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = Localizer["Edit"];
}

<h3>@Localizer["Edit"]</h3>

<h5>@Localizer["Conference"]</h5>
<hr />
<div class="row">
    <div class="col s12">
        <form asp-action="Edit">
            <input type="hidden" asp-for="Conference.Id" />
            <div class="row">
                <div class="input-field col s6">
                    <input asp-for="Conference.Topic" type="text" class="validate">
                    <label asp-for="Conference.Topic">@Localizer["Topic"]</label>
                    <span class="helper-text" asp-validation-for="Conference.Topic" data-error="some data is in bad format" data-success=""></span>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s6">
                    <input asp-for="Conference.Date" type="date" class="validate">
                    <label asp-for="Conference.Date">@Localizer["Date"]</label>
                    <span asp-validation-for="Conference.Date" data-error="" data-success=""></span>
                </div>
            </div>
            <div class="row myButtons">
                <input type="submit" value="@Localizer["Cancel"]" class="waves-effect btn-small  amber accent-2"/>
                <a asp-action="Index" class="btn-small blue darken-3">@Localizer["Cancel"]</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
