@model IEnumerable<ScientificReport.DAL.Entities.Conference>

@{
    ViewData["Title"] = "Index";
}

<h3>Conference</h3>

<p>
    <a asp-action="Create" class="waves-effect btn-small green darken-3">Create New</a>
</p>
<table class="responsive-table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Topic)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Topic)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.Id" class="btn-small blue darken-3">Details</a>
                <a asp-action="Edit" asp-route-id="@item.Id" class="waves-effect btn-small waves-light">Edit</a>
                <form asp-action="Delete" asp-route-id="@item.Id" method="post" style="display: inline;">
                    <button type="submit" class="waves-effect btn-small deep-orange darken-3">Delete</button>
                </form>
            </td>
        </tr>
}
    </tbody>
</table>
