@using Microsoft.AspNetCore.Mvc.Localization
@model ScientificReport.DAL.Entities.ScientificWork
@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = Localizer["Create"];
}

<h4>@Localizer["ScientificWork"]</h4>
<hr />
<div class="row">
    <div class="col m4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Cypher" class="control-label">@Localizer["Cypher"]</label>
                <input asp-for="Cypher" class="form-control" />
                <span asp-validation-for="Cypher" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Category" class="control-label">@Localizer["Category"]</label>
                <input asp-for="Category" class="form-control" />
                <span asp-validation-for="Category" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Title" class="control-label">@Localizer["Title"]</label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Contents" class="control-label">@Localizer["Contents"]</label>
                <input asp-for="Contents" class="form-control" />
                <span asp-validation-for="Contents" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="@Localizer["Create"]" class="waves-effect btn-small green darken-3"/>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" class="btn-small blue darken-3">@Localizer["Cancel"]</a>
</div>
