@using Microsoft.AspNetCore.Mvc.Localization
@model ScientificReport.DTO.Models.ScientificWorks.ScientificWorksDetails
@inject IViewLocalizer Localizer

@{
	ViewData["Title"] = Localizer["Details"];
}

<div>
	<h4>@Localizer["ScientificWork"]</h4>
	<hr/>
	<dl class="row">
		<dt class="col s2">
			@Localizer[Html.DisplayNameFor(model => model.ScientificWork.Cypher)]
		</dt>
		<dd class="col s10">
			@Html.DisplayFor(model => model.ScientificWork.Cypher)
		</dd>
		<dt class="col s2">
			@Localizer[Html.DisplayNameFor(model => model.ScientificWork.Category)]
		</dt>
		<dd class="col s10">
			@Html.DisplayFor(model => model.ScientificWork.Category)
		</dd>
		<dt class="col s2">
			@Localizer[Html.DisplayNameFor(model => model.ScientificWork.Title)]
		</dt>
		<dd class="col s10">
			@Html.DisplayFor(model => model.ScientificWork.Title)
		</dd>
		<dt class="col s2">
			@Localizer[Html.DisplayNameFor(model => model.ScientificWork.Contents)]
		</dt>
		<dd class="col s10">
			@Html.DisplayFor(model => model.ScientificWork.Contents)
		</dd>
		<dt class="col s2">
			@Localizer["Authors"]
		</dt>
		@if (Model.Authors != null)
		{
			var authors = "";
			foreach (var author in Model.Authors)
			 {
				 if (author != null && Model.Authors.Last() != author)
				 {
					 authors += $"{author.FirstName} {author.LastName}, ";
				 }
				 else if (author != null )
				 {
					 authors += $"{author.FirstName} {author.LastName}";
				 }
			 }
			<dd class="col s10">
				@authors
			</dd>
		}
	</dl>
</div>
<div>
	<a asp-action="Edit" asp-route-id="@Model.ScientificWork.Id" class="waves-effect btn-small waves-light">@Localizer["Edit"]</a>
	<a asp-action="Index" class="btn-small blue darken-3">@Localizer["Back to List"]</a>
</div>