@model ScientificReport.DTO.Models.ScientificWorks.ScientificWorksDetails

@{
	ViewData["Title"] = "Details";
}

<div>
	<h4>ScientificWork</h4>
	<hr/>
	<dl class="row">
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.ScientificWork.Cypher)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.ScientificWork.Cypher)
		</dd>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.ScientificWork.Category)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.ScientificWork.Category)
		</dd>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.ScientificWork.Title)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.ScientificWork.Title)
		</dd>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.ScientificWork.Contents)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.ScientificWork.Contents)
		</dd>
		<dt class="col-sm-2">
			Authors
		</dt>
		@if (Model.Authors != null)
		{	
			<dd class="col-sm-10">

				<ul style="list-style-type: none;">
					@foreach (var author in Model.Authors)
					{
						if (author != null)
						{
							<li style="position: relative; left: -40px;">@author.FirstName @author.LastName</li>
						}
					}
				</ul>

			</dd>
		}
	</dl>
</div>
<div>
	<a asp-action="Edit" asp-route-id="@Model.ScientificWork.Id">Edit</a> |
	<a asp-action="Index">Back to List</a>
</div>