@using Microsoft.AspNetCore.Mvc.Localization
@model ScientificReport.DTO.Models.ScientificWorks.ScientificWorksDetails
@inject IViewLocalizer Localizer

@{
	ViewData["Title"] = Localizer["Details of scientific work"];
}

<div>
	<h5>@Model.ScientificWork.Title</h5>
	<hr/>
	<dl class="row">
		<dt class="col s2">
			@Localizer[Html.DisplayNameFor(model => model.ScientificWork.Cypher)]
		</dt>
		<dd class="col s10">
			@Html.DisplayFor(model => model.ScientificWork.Cypher)
		</dd>
		<dt class="col s2">
			@Localizer[Html.DisplayNameFor(model => model.ScientificWork.Category)]
		</dt>
		<dd class="col s10">
			@Html.DisplayFor(model => model.ScientificWork.Category)
		</dd>
		<dt class="col s2">
			@Localizer[Html.DisplayNameFor(model => model.ScientificWork.Contents)]
		</dt>
		<dd class="col s10">
			@Html.DisplayFor(model => model.ScientificWork.Contents)
		</dd>
		@if (Model.Authors != null && Model.Authors.Any())
		{
			<dt class="col s2">
				@Localizer["Authors"]
			</dt>
			<dd class="col s10">
				<ul>
					@foreach (var author in Model.Authors)
					{
						<li>
							<a asp-controller="UserProfile" asp-action="Details"
							   asp-route-id="@author.Id">
								@author.FullName
							</a>
						</li>
					}
				</ul>
			</dd>	
		}
	</dl>
</div>
<div style="margin-top: 20px">
	<a asp-action="Edit" asp-route-id="@Model.ScientificWork.Id" class="waves-effect btn-small waves-light">@Localizer["Edit"]</a>
	<a asp-action="Index" class="btn-small blue darken-3">@Localizer["Back to list"]</a>
</div>
