@model IEnumerable<ScientificReport.DAL.Entities.ScientificWork>

@{
    ViewData["Title"] = "Index";
}

<h2>Scientific Work</h2>

<p>
    <button type="button" class="waves-effect btn-small green darken-3" 
            onclick="location.href = '@Url.Action("Create", "ScientificWork")'">Create</button>
</p>
<table class="responsive-table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Cypher)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Category)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Contents)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Cypher)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Contents)
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.Id" class="btn-small blue darken-3">Details</a>
                <a asp-action="Edit" asp-route-id="@item.Id" class="waves-effect btn-small waves-light">Edit</a>
                <form asp-action="Delete" asp-route-id="@item.Id" method="post" style="display: inline;">
                    <button type="submit" class="waves-effect btn-small deep-orange darken-3">Delete</button>
                </form>
            </td>
        </tr>
}
    </tbody>
</table>
