@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.Mvc.Localization
@using ScientificReport.DAL.Entities.UserProfile
@inject SignInManager<UserProfile> SignInManager
@inject UserManager<UserProfile> UserManager
@inject IViewLocalizer Localizer

@* <ul class="navbar-nav"> *@
@* 	@if (SignInManager.IsSignedIn(User)) *@
@* 	{ *@
@* 		<li class="nav-item"> *@
@* 			<a  class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @User.Identity.Name!</a> *@
@* 		</li> *@
@* 		<li class="nav-item"> *@
@* 			<form  class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })"> *@
@* 				<button  type="submit" class="nav-link btn btn-link text-dark">Logout</button> *@
@* 			</form> *@
@* 		</li> *@
@* 	} *@
@* 	else *@
@* 	{ *@
@* 		<li class="nav-item"> *@
@* 			<a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Register">Register</a> *@
@* 		</li> *@
@* 		<li class="nav-item"> *@
@* 			<a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Login">Login</a> *@
@* 		</li> *@
@* 	} *@
@* </ul> *@

<style>
	#user-dropdown {
		position: absolute;
		top: -48px;
		height: auto;
	}

	.dropdown-content li { min-height: 32px; }

	.dropdown-content li > a {
		font-size: 15px;
		color: black;
		padding: 5px 9px;
		cursor: pointer;
	}
</style>

<ul id="user-dropdown" style="color: black;" class="dropdown-content">
	<li style="font-size: 5px; -o-justify-content: center; -webkit-justify-content: center; justify-content: center">
		<a asp-area="" asp-controller="UserProfile" asp-route-id="@UserManager.GetUserId(User)" asp-action="Details">@Localizer["Profile"]</a>
	</li>
	<li>
		<a asp-area="" asp-controller="UserProfile" asp-action="ChangePassword">@Localizer["Change password"]</a>
	</li>
	<li>
		<a asp-area="" asp-controller="UserProfile" asp-action="Logout">@Localizer["Log out"]</a>
	</li>
</ul>
<ul class="right">
	@if (User.Identity.IsAuthenticated)
	{
		<li>
			<a class="dropdown-trigger" data-target="user-dropdown">
				<i class="material-icons left">account_circle</i>@User.Identity.Name<i class="material-icons right">arrow_drop_down</i>
			</a>
		</li>
	}
	else
	{
		<li>
			<a asp-area="" asp-controller="UserProfile" asp-action="Register">@Localizer["Register"]</a>
		</li>
		<li>
			<a asp-area="" asp-controller="UserProfile" asp-action="Login">@Localizer["Log in"]</a>
		</li>
	}
</ul>

@section Scripts {
	<script> $(".dropdown-trigger").dropdown(); </script>
}
