@model ScientificReport.DAL.Entities.ApplicantsPatentLicenseActivities

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>ApplicantsPatentLicenseActivities</h4>
    <hr />
    <dl class="row">
        <dt class = "col s2">
            @Html.DisplayNameFor(model => model.ApplicantId)
        </dt>
        <dd class = "col s10">
            @Html.DisplayFor(model => model.ApplicantId)
        </dd>
        <dt class = "col s2">
            @Html.DisplayNameFor(model => model.PatentLicenseActivityId)
        </dt>
        <dd class = "col s10">
            @Html.DisplayFor(model => model.PatentLicenseActivityId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id" class="waves-effect btn-small waves-light">Edit</a>
    <a asp-action="Index" class="btn-small blue darken-3">Back to List</a>
</div>
