@using Microsoft.AspNetCore.Mvc.Localization
@model ScientificReport.DAL.Entities.Review
@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = Localizer["Details of review"];
}

<div>
    <h5>@ViewData["Title"]</h5>
    <hr />
    <dl class="row">
        <dt class = "col s4">
            @Localizer["Date of review"]
        </dt>
        <dd class = "col s8">
            @Html.DisplayFor(model => model.DateOfReview)
        </dd>
        @if (Model.Work != null)
        {
            <dt class = "col s4">
                @Localizer["Work"]
            </dt>
            <dd class = "col s8">
                <a asp-action="Details" asp-controller="Publication" asp-route-id="@Model.Work.Id" class="btn-small blue darken-3">@Model.Work.Title</a>
            </dd>
        }
    </dl>
</div>
<div style="margin-top: 20px">
    <a asp-action="Edit" asp-route-id="@Model.Id" class="waves-effect btn-small waves-light">@Localizer["Edit"]</a>
    <a asp-action="Index" class="btn-small blue darken-3">@Localizer["Back to list"]</a>
</div>
