@model IEnumerable<ScientificReport.DAL.Entities.Membership>

@{
	ViewData["Title"] = "Memberships";
}

<h2 style="float: left;">Memberships</h2>
<button type="button" style="float: right;" class="btn btn-success" onclick="location.href = '@Url.Action("Create", "Membership")'">Create</button>

<table class="table">
	<tbody>
	@foreach (var item in Model)
	{
		<tr>
			<td>
				@Html.DisplayFor(modelItem => item.MemberOf)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.MembershipInfo)
			</td>
			<td>
				<a asp-action="Details" asp-route-id="@item.Id" class="btn btn-sm btn-light">Details</a>
				<a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-sm btn-success">Edit</a>
				<form asp-action="Delete" asp-route-id="@item.Id" method="post" style="display: inline;">
					<button type="submit" class="btn btn-sm btn-danger">Delete</button>
				</form>
			</td>
		</tr>
	}
	</tbody>
</table>