@using Microsoft.AspNetCore.Mvc.Localization
@model ScientificReport.DTO.Models.ReportThesis.ReportThesisDetails
@inject IViewLocalizer Localizer

@{
	ViewData["Title"] = Localizer["Details"];
}

<h1>@Localizer["Details"]</h1>

<div>
	<h4>@Localizer["ReportThesis"]</h4>
	<hr/>
	<dl class="row">
		<dt class="col s2">
			@Localizer[Html.DisplayNameFor(model => model.ReportThesis.Thesis)]
		</dt>
		<dd class="col s10">
			@Html.DisplayFor(model => model.ReportThesis.Thesis)
		</dd>
		<dt class="col s2">
			@Localizer[Html.DisplayNameFor(model => model.ReportThesis.Conference)]
		</dt>
		@if (Model.ReportThesis.Conference != null)
		{
			<dd class="col s10">
				<a asp-controller="Conference" asp-action="Details"
				   asp-route-id="@Model.ReportThesis.Conference.Id ">
					@Model.ReportThesis.Conference.Topic (@Model.ReportThesis.Conference.Date.ToString("MM/dd/yyyy"))
				</a>
			</dd>
		}
		else
		{
			<dd class="col s10">@Localizer["There isn't any conferences exist"]</dd>
		}
		<dt class="col s2">
			@Localizer["Authors"]
		</dt>
		@if (Model.Authors != null)
		{
			var authors = "";
			foreach (var author in Model.Authors)
			{
				if (author != null && Model.Authors.Last() != author)
				{
					authors += $"{author.FirstName} {author.LastName}, ";
				}
				else if (author != null )
				{
					authors += $"{author.FirstName} {author.LastName}";
				}
			}
			<dd class="col s10">
				@authors
			</dd>
		}
	</dl>

</div>
<div>
	<a asp-action="Edit" asp-route-id="@Model.ReportThesis.Id" class="waves-effect btn-small waves-light">@Localizer["Edit"]</a>
	<a asp-action="Index" class="btn-small blue darken-3">@Localizer["Back to List"]</a>
</div>
