@using Microsoft.AspNetCore.Mvc.Localization
@model ScientificReport.DTO.Models.ReportThesis.ReportThesisDetails
@inject IViewLocalizer Localizer

@{
	ViewData["Title"] = Localizer["Details of report thesis"];
}

<div>
	<h5>@ViewData["Title"]</h5>
	<hr/>
	<dl class="row">
		<dt class="col s2">
			@Localizer[Html.DisplayNameFor(model => model.ReportThesis.Thesis)]
		</dt>
		<dd class="col s10">
			@Html.DisplayFor(model => model.ReportThesis.Thesis)
		</dd>
		<dt class="col s2">
			@Localizer[Html.DisplayNameFor(model => model.ReportThesis.Conference)]
		</dt>
		@if (Model.ReportThesis.Conference != null)
		{
			<dd class="col s10">
				<a asp-controller="Conference" asp-action="Details"
				   asp-route-id="@Model.ReportThesis.Conference.Id ">
					@Model.ReportThesis.Conference.Topic (@Model.ReportThesis.Conference.Date.ToString("MM/dd/yyyy"))
				</a>
			</dd>
		}
		else
		{
			<dd class="col s10">@Localizer["There isn't any conferences exist"]</dd>
		}
		<dt class="col s2">
			@Localizer["Authors"]
		</dt>
		@if (Model.Authors != null)
		{
			<dd class="col s10">
				<ul>
					@foreach (var author in Model.Authors)
					{
						<li>
							<a asp-controller="UserProfile" asp-action="Details"
							   asp-route-id="@author.Id">
								@author.FullName
							</a>
						</li>
					}
				</ul>
			</dd>
		}
	</dl>

</div>
<div style="margin-top: 20px">
	<a asp-action="Edit" asp-route-id="@Model.ReportThesis.Id" class="waves-effect btn-small waves-light">@Localizer["Edit"]</a>
	<a asp-action="Index" class="btn-small blue darken-3">@Localizer["Back to list"]</a>
</div>
