@using Microsoft.AspNetCore.Mvc.Localization
@model ScientificReport.DTO.Models.Grant.GrantEditModel
@inject IViewLocalizer Localizer

@{
	ViewData["Title"] = Localizer["Edit grant"];
}

<style type="text/css">
	.authors-list {
		overflow-y: scroll;
		height: 250px;
	}
	.span-label {
    	color: black;
    }
</style>
<h4>@ViewData["Title"]</h4>
<hr />
<div class="row">
	<div class="col s12">
		<form asp-action="Edit">
			<div asp-validation-summary="ModelOnly" class="validate"></div>
			<input type="hidden" asp-for="Id" />
			<div class="input-field col s7">
				<input asp-for="Info" type="text" class="validate">
				<label asp-for="Info">@Localizer["Info"]</label>
				<span class="helper-text" asp-validation-for="Info" data-error="" data-success=""></span>
			</div>
			<div class="col s7">
				<h4>@Localizer["Authors"]:</h4>
				<div class="authors-list">
					@if (Model.Users != null)
					{
						foreach (var user in Model.Users)
						{
							if (user != null)
							{
								var exists = Model.Authors.Any(u => u.Id == user.Id);
								<p>
									<label>
                                    	<input class="filled-in" type="checkbox" onclick="clickAuthor(this, '@Model.Id', '@user.Id')" @(exists ? "checked=\"checked\"" : "")/>
                                    	<span class="span-label">@user.FullName</span>
                                    </label>
								</p>
							}
						}
					}
				</div>
			</div>
			<div class="row myButtons">
				<button type="submit" class="waves-effect btn-small accent-2">@Localizer["Save"]</button>
				<a asp-action="Index" class="waves-effect btn-small blue darken-3">@Localizer["Cancel"]</a>
			</div>
		</form>
	</div>
</div>

@section Scripts {
	<script>
    	const clickAuthor = toggleCheckboxEntity('Grant', 'AddAuthor', 'DeleteAuthor', (value) => {return {UserId: value}});
    </script>
	@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
