@using ScientificReport.BLL.Interfaces
@model ScientificReport.Views.TeacherReport.PrintReportThesis
@inject IReportThesisService PublicationService
@{
    Layout = null;
}

@{
	var authors = PublicationService.GetAuthors(Model.ReportThesis.Id).ToList();
	var authorString = "";
	if(authors.Count>0){authorString = authors.Select(u => u.LastName +" " + u.FirstName.ToCharArray()[0] +". "+ u.MiddleName.ToCharArray()[0]+ ".").Aggregate((current, item) => current +", "+ item);}
}

<li class="report-thesis-item">@Model.User.LastName @Model.User.FirstName.ToCharArray()[0]. @Model.User.MiddleName.ToCharArray()[0]. @Model.ReportThesis.Thesis / @authorString // @Model.ReportThesis.Conference.Type @Model.ReportThesis.Conference.Topic @Model.ReportThesis.Conference.Date – PLACEHOLDER-city :-  PLACEHOLDER-pagesWherePrinted</li>
