@model ScientificReport.Views.TeacherReport.PrintReportThesis
@{
    Layout = null;
}

<li class="report-thesis-item">@Model.User.LastName @Model.User.FirstName.ToCharArray()[0]. @Model.User.MiddleName.ToCharArray()[0]. @Model.ReportThesis.Thesis /PLACEHOLDER-allCoauthors // @Model.ReportThesis.Conference.Type @Model.ReportThesis.Conference.Topic @Model.ReportThesis.Conference.Date – PLACEHOLDER-city :-  PLACEHOLDER-pagesWherePrinted</li>
