@using ScientificReport.DAL.Entities.UserProfile
@model ScientificReport.Views.TeacherReport.PrintScientificInternship
@{
    Layout = null;
}

@if (Model.User.Sex == UserProfile.SexValue.Male)
{
	<li class="scientificInternship-item">Проходив стажування у @Model.ScientificInternship.PlaceOfInternship з @Model.ScientificInternship.Started. по @Model.ScientificInternship.Ended.</li>
}
else
{
	<li class="scientificInternship-item">Проходила стажування у @Model.ScientificInternship.PlaceOfInternship з @Model.ScientificInternship.Started. по @Model.ScientificInternship.Ended.</li>
}