@model ScientificReport.DAL.Entities.Reports.TeacherReport
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

@{
	ViewData["Title"] = Localizer["Details"];
}


<h3>@Localizer["Details"]</h3>

<div>
	<h5>@Localizer["Report"]</h5>
	<hr />
	<dl class="row">
		<dt class = "col s2">
			@Localizer[Html.DisplayNameFor(model => model.Created)]
		</dt>
		<dd class = "col s10">
			@Html.DisplayFor(model => model.Created)
		</dd>
	</dl>
</div>
<div>
	<a asp-action="Edit" asp-route-id="@Model.Id" class="waves-effect btn-small waves-light">@Localizer["Edit"]</a>
	<a asp-action="Print" asp-route-id="@Model.Id" target="_blank" class="waves-effect btn-small waves-light">@Localizer["Print"]</a>
	<a asp-action="Index" class="btn-small blue darken-3">@Localizer["Back to List"]</a>
</div>
