@model ScientificReport.DAL.Entities.ScientificInternship

@{
    ViewData["Title"] = "Details";
}

<h3>Details</h3>

<div>
    <h5>Scientific Internship</h5>
    <hr />
    <dl class="row">
        <dt class = "col s2">
            @Html.DisplayNameFor(model => model.PlaceOfInternship)
        </dt>
        <dd class = "col s10">
            @Html.DisplayFor(model => model.PlaceOfInternship)
        </dd>
        <dt class = "col s2">
            @Html.DisplayNameFor(model => model.Started)
        </dt>
        <dd class = "col s10">
            @Html.DisplayFor(model => model.Started)
        </dd>
        <dt class = "col s2">
            @Html.DisplayNameFor(model => model.Ended)
        </dt>
        <dd class = "col s10">
            @Html.DisplayFor(model => model.Ended)
        </dd>
        <dt class = "col s2">
            @Html.DisplayNameFor(model => model.Contents)
        </dt>
        <dd class = "col s10">
            @Html.DisplayFor(model => model.Contents)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id" class="waves-effect btn-small waves-light">Edit</a>
    <a asp-action="Index" class="btn-small blue darken-3">Back to List</a>
</div>
