@using Microsoft.AspNetCore.Mvc.Localization
@using ScientificReport.DTO.Models.Department
@model ScientificReport.DTO.Models.Department.DepartmentCreateModel
@inject IViewLocalizer Localizer

@{
	ViewBag.Title = Localizer["Create"];
	Layout = "_Layout";
}

<style type="text/css">
	.selected-head-id-label {
		/* margin-bottom: 10px; */
		position: relative !important;
		left: 0px !important;
		font-size: 12.5px !important;
	}
</style>

<h3>@Localizer["CreateDepartment"]</h3>
<h5>@Localizer["CreateDepartmentInfo"].</h5>
<hr/>
<div class="row">
	<div class="col s12">
		<form asp-action="Create" method="post">
			<div asp-validation-summary="ModelOnly" class="validate"></div>
			<div class="row">
				<div class="input-field col s6">
					<input asp-for="Title" type="text" class="validate">
					<label asp-for="Title">@Localizer["Title"]</label>
					<span class="helper-text" asp-validation-for="Title" data-error="some data is in bad format" data-success=""></span>
				</div>
			</div>
			<div class="row">
				<div class="input-field col s10">
					<label asp-for="SelectedHeadId" class="selected-head-id-label">@Localizer["Head"]</label>
					@{
						var departmentSelection = Model.UserSelection.Select(d => new SelectItem(d.FullName, d.Id.ToString()));
					}
					@Html.DropDownListFor(x => Model.SelectedHeadId, new SelectList(departmentSelection, "Value", "Text"))
					@Html.ValidationMessageFor(x => x.SelectedHeadId, "", new {@class = "validate", @required = "required"})
				</div>
			</div>
			<div class="row myButtons">
				<input type="submit" value="@Localizer["Create"]" class="waves-effect btn-small amber accent-2"/>
				<a asp-action="Index" class="btn-small blue darken-3">@Localizer["Cancel"]</a>
			</div>
		</form>
	</div>
</div>

@section Scripts { 
	<script type="text/javascript">
		$(document).ready(function() {
			$('select').formSelect();
		});
	</script>
}
