@model ScientificReport.DAL.Entities.Department

@{
	ViewData["Title"] = "Details";
}

<h3>Details</h3>

<div>
	<h5>Department</h5>
	<hr />
	<dl class="row">
		<dt class = "col s2">
			@Html.DisplayNameFor(model => model.Title)
		</dt>
		<dd class="col s10">
			@Html.DisplayFor(model => model.Title)
		</dd>
		<dt class = "col s2">
			@Html.DisplayNameFor(model => model.Head)
		</dt>
		<dd class="col s10">
			<a href="@Url.Action("Details", "UserProfile", new {id = Model.Head.Id})">
				@Model.Head.FirstName @Model.Head.MiddleName @Model.Head.LastName
			</a>
		</dd>
		<dt class="col s2">
			Staff
		</dt>
		<dd class="col s10">
			@if (Model.Staff != null)
			{
				if (Model.Staff.Count > 0)
				{
					<ul>
						@foreach (var user in Model.Staff)
						{
							if (user != null)
							{
								<li>
									<a href="@Url.Action("Details", "UserProfile", new {id = user.Id})">
										@user.FirstName @user.MiddleName @user.LastName
									</a>
								</li>
							}
						}
					</ul>
				}
				else
				{
					<p>No staff</p>
				}
			}
		</dd>
		<dt class="col s2">
			Scientific works
		</dt>
		<dd class="col s10">
			@if (Model.ScientificWorks != null)
			{
				if (Model.ScientificWorks.Count > 0)
				{
					<ul>
						@foreach (var scientificWork in Model.ScientificWorks)
						{
							if (scientificWork != null)
							{
								<li>
									<a asp-controller="ScientificWork" asp-action="Details" asp-route-id="@scientificWork.Id">
										@scientificWork.Title
									</a>
								</li>
							}
						}
					</ul>
				}
				else
				{
					<p>No scientific works</p>
				}
			}
		</dd>
	</dl>
</div>
<div>
	<a asp-action="Edit" asp-route-id="@Model.Id" class="waves-effect btn-small waves-light">Edit</a>
	<a asp-action="Index" class="btn-small blue darken-3">Back to List</a>
</div>
