@model ScientificReport.DTO.Models.Publication.PublicationCreateModel
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

@{
	ViewData["Title"] = Localizer["Create publication"];
}

<h5>@ViewData["Title"]</h5>
<hr />
<div class="row">
	<div class="col s12">
		<form asp-action="Create">
			<div asp-validation-summary="ModelOnly" class="validate"></div>
			<div class="row">
				<div class="input-field col s7">
					<select asp-for="Type" class="col s12 push-s2">
						<option value="" disabled selected>@Localizer["Choose publication type"]</option>
						<option value="Monograph">@Localizer["Monograph"]</option>
						<option value="TextBook">@Localizer["Textbook"]</option>
						<option value="HandBook">@Localizer["Handbook"]</option>
						<option value="Dictionary">@Localizer["Dictionary"]</option>
						<option value="Translation">@Localizer["Translation"]</option>
						<option value="Comment">@Localizer["Comment"]</option>
						<option value="BibliographicIndex">@Localizer["Bibliographic index"]</option>
						<option value="Other">@Localizer["Other"]</option>
					</select>
					<label asp-for="Type">@Localizer["Type"]</label>
				</div>
			</div>
			
			<div class="row">
				<div class="input-field col s7">
					<input asp-for="Title" type="text" class="validate">
					<label asp-for="Title">@Localizer["Title"]</label>
					<span class="helper-text" asp-validation-for="Title" data-error="" data-success=""></span>
				</div>
			</div>
			<div class="row">
				<div class="input-field col s7">
					<input asp-for="Specification" type="text" class="validate"/>
					<label asp-for="Specification">@Localizer["Specification"]</label>
					<span class="helper-text" asp-validation-for="Specification" 
						  data-length="400" data-error="" data-success=""></span>
				</div>
			</div>
			<div class="row">
				<div class="input-field col s7">
					<input asp-for="PublishingPlace" type="text" class="validate">
					<label asp-for="PublishingPlace">@Localizer["Publishing place"]</label>
					<span class="helper-text" asp-validation-for="PublishingPlace" data-error="" data-success=""></span>
				</div>
			</div>
			<div class="row">
				<div class="input-field col s7">
					<input asp-for="PublishingHouseName" type="text" class="validate">
					<label asp-for="PublishingHouseName">@Localizer["Publishing house name"]</label>
					<span class="helper-text" asp-validation-for="PublishingHouseName" data-error="" data-success=""></span>
				</div>
			</div>
			<div class="row">
				<div class="input-field col s7">
					<input asp-for="PublishingYear" type="number" class="validate">
					<label asp-for="PublishingYear">@Localizer["Publishing year"]</label>
					<span class="helper-text" asp-validation-for="PublishingYear" data-error="" data-success=""></span>
				</div>
			</div>
			<div class="row">
				<div class="input-field col s7">
					<input asp-for="PagesAmount" type="number" class="validate">
					<label asp-for="PagesAmount">@Localizer["Pages amount"]</label>
					<span class="helper-text" asp-validation-for="PagesAmount" data-error="" data-success=""></span>
				</div>
			</div>
			@if (Model.PrintStatusOptions != null)
			{
				<div class="row">
					<div class="input-field col s7">
						<select asp-for="PrintStatus" class="col s12 push-s2">
							@foreach (var option in Model.PrintStatusOptions)
							{
								<option value="@option" @(Model.PrintStatus.ToString() == option ? "selected" : "")>@Localizer[option]</option>
							}
						</select>
						<label asp-for="PrintStatus">@Localizer["Publishing status"]</label>
					</div>
				</div>
			}
			<div class="row myButtons">
				<button type="submit" class="waves-effect btn-small accent-2">@Localizer["Create"]</button>
				<a asp-action="Index" class="waves-effect btn-small blue darken-3">@Localizer["Cancel"]</a>
			</div>
		</form>
	</div>
</div>

@section Scripts {
	<script type="text/javascript">
		$(document).ready(function() {
			$('select').formSelect();
		});
	</script>
	@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
