@using Microsoft.AspNetCore.Mvc.Localization
@model ScientificReport.DAL.Entities.Publication

@inject IViewLocalizer Localizer

@{
	ViewData["Title"] = Localizer["DeletePublication"];
}

<h1>@Localizer["DeletePublication"]</h1>

<h3>@Localizer["DeleteConfirmationQuestion"]</h3>
<div>
	<h4>@Localizer["Publication"]</h4>
	<hr />
	<dl class="row">
		<dt class="col s2">
			@Localizer[Html.DisplayNameFor(model => model.Type)]
		</dt>
		<dd class="col s10">
			@Html.DisplayFor(model => model.Type)
		</dd>
		<dt class="col s2">
			@Localizer[Html.DisplayNameFor(model => model.Title)]
		</dt>
		<dd class="col s10">
			@Html.DisplayFor(model => model.Title)
		</dd>
		<dt class="col s2">
			@Localizer[Html.DisplayNameFor(model => model.Specification)]
		</dt>
		<dd class="col s10">
			@Html.DisplayFor(model => model.Specification)
		</dd>
		<dt class="col s2">
			@Localizer[Html.DisplayNameFor(model => model.PublishingPlace)]
		</dt>
		<dd class="col s10">
			@Html.DisplayFor(model => model.PublishingPlace)
		</dd>
		<dt class="col s2">
			@Localizer[Html.DisplayNameFor(model => model.PublishingHouseName)]
		</dt>
		<dd class="col s10">
			@Html.DisplayFor(model => model.PublishingHouseName)
		</dd>
		<dt class="col s2">
			@Localizer[Html.DisplayNameFor(model => model.PublishingYear)]
		</dt>
		<dd class="col s10">
			@Html.DisplayFor(model => model.PublishingYear)
		</dd>
		<dt class="col s2">
			@Localizer[Html.DisplayNameFor(model => model.PagesAmount)]
		</dt>
		<dd class="col s10">
			@Html.DisplayFor(model => model.PagesAmount)
		</dd>
		<dt class="col s2">
			@Localizer[Html.DisplayNameFor(model => model.PrintStatus)]
		</dt>
		<dd class="col s10">
			@Html.DisplayFor(model => model.PrintStatus)
		</dd>
	</dl>
	<form asp-action="Delete">
		<input type="hidden" asp-for="Id" />
		<button type="submit" class="waves-effect btn-small waves-light">@Localizer["Delete"]</button>
	</form>
	<a asp-action="Index" class="btn-small blue darken-3">@Localizer["BackToList"]</a>
</div>
