@using Microsoft.AspNetCore.Mvc.Localization
@model ScientificReport.DAL.Entities.Publication

@inject IViewLocalizer Localizer

@{
	ViewData["Title"] = Localizer["Delete publication"];
}

<h1>@Localizer["Delete publication"]</h1>

<h3>@Localizer["Are you sure you want to delete this publication?"]</h3>
<div>
	<h4>@Localizer["Publication"]</h4>
	<hr />
	<dl class="row">
		<dt class="col s2">
			@Localizer[Html.DisplayNameFor(model => model.PublicationType)]
		</dt>
		<dd class="col s10">
			@Html.DisplayFor(model => model.PublicationType)
		</dd>
		<dt class="col s2">
			@Localizer[Html.DisplayNameFor(model => model.Title)]
		</dt>
		<dd class="col s10">
			@Html.DisplayFor(model => model.Title)
		</dd>
		<dt class="col s2">
			@Localizer[Html.DisplayNameFor(model => model.Specification)]
		</dt>
		<dd class="col s10">
			@Html.DisplayFor(model => model.Specification)
		</dd>
		<dt class="col s2">
			@Localizer["Publishing place"]
		</dt>
		<dd class="col s10">
			@Html.DisplayFor(model => model.PublishingPlace)
		</dd>
		<dt class="col s2">
			@Localizer["Publishing house name"]
		</dt>
		<dd class="col s10">
			@Html.DisplayFor(model => model.PublishingHouseName)
		</dd>
		<dt class="col s2">
			@Localizer["Publishing year"]
		</dt>
		<dd class="col s10">
			@Html.DisplayFor(model => model.PublishingYear)
		</dd>
		<dt class="col s2">
			@Localizer["Pages amount"]
		</dt>
		<dd class="col s10">
			@Html.DisplayFor(model => model.PagesAmount)
		</dd>
		<dt class="col s2">
			@Localizer["Publishing Status"]
		</dt>
		<dd class="col s10">
			@Html.DisplayFor(model => model.PrintStatus)
		</dd>
	</dl>
	<form asp-action="Delete">
		<input type="hidden" asp-for="Id" />
		<button type="submit" class="waves-effect btn-small waves-light">@Localizer["Delete"]</button>
	</form>
	<a asp-action="Index" class="btn-small blue darken-3">@Localizer["Back to list"]</a>
</div>
