@model ScientificReport.DAL.Entities.Publication
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

@{
	ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
	<h4>Publication</h4>
	<hr/>
	<dl class="row">
		<dt class="col s2">
			@Localizer[Html.DisplayNameFor(model => model.Type)]
		</dt>
		<dd class="col s10">
			@Html.DisplayFor(model => model.Type)
		</dd>
		<dt class="col s2">
			@Localizer[Html.DisplayNameFor(model => model.Title)]
		</dt>
		<dd class="col s10">
			@Html.DisplayFor(model => model.Title)
		</dd>
		<dt class="col s2">
			@Localizer[Html.DisplayNameFor(model => model.Specification)]
		</dt>
		<dd class="col s10">
			@Html.DisplayFor(model => model.Specification)
		</dd>
		<dt class="col s2">
			@Localizer[Html.DisplayNameFor(model => model.PublishingPlace)]
		</dt>
		<dd class="col s10">
			@Html.DisplayFor(model => model.PublishingPlace)
		</dd>
		<dt class="col s2">
			@Localizer[Html.DisplayNameFor(model => model.PublishingHouseName)]
		</dt>
		<dd class="col s10">
			@Html.DisplayFor(model => model.PublishingHouseName)
		</dd>
		<dt class="col s2">
			@Localizer[Html.DisplayNameFor(model => model.PublishingYear)]
		</dt>
		<dd class="col s10">
			@Html.DisplayFor(model => model.PublishingYear)
		</dd>
		<dt class="col s2">
			@Localizer[Html.DisplayNameFor(model => model.PagesAmount)]
		</dt>
		<dd class="col s10">
			@Html.DisplayFor(model => model.PagesAmount)
		</dd>
		<dt class="col s2">
			@Localizer[Html.DisplayNameFor(model => model.IsPrintCanceled)]
		</dt>
		<dd class="col s10">
			<span>@(Model.IsPrintCanceled ? "Yes" : "No")</span>
		</dd>
		<dt class="col s2">
			@Localizer[Html.DisplayNameFor(model => model.IsRecommendedToPrint)]
		</dt>
		<dd class="col s10">
			<span>@(Model.IsRecommendedToPrint ? "Yes" : "No")</span>
		</dd>
		<dt class="col s2">
			@Localizer[Html.DisplayNameFor(model => model.CreatedAt)]
		</dt>
		<dd class="col s10">
			@Html.DisplayFor(model => model.CreatedAt)
		</dd>
		<dt class="col s2">
			@Localizer[Html.DisplayNameFor(model => model.LastEditAt)]
		</dt>
		<dd class="col s10">
			@Html.DisplayFor(model => model.LastEditAt)
		</dd>
	</dl>
</div>
<div>
	<a asp-action="Edit" asp-route-id="@Model.Id" class="waves-effect btn-small waves-light">@Localizer["Edit"]</a>
	<a asp-action="Index" class="btn-small blue darken-3">@Localizer["Back to List"]</a>
</div>
