@model ScientificReport.DAL.Entities.Publication
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

@{
	ViewData["Title"] = "Edit";
}

<h3>@Localizer["Edit"]</h3>

<h5>@Localizer["Publication"]</h5>
<hr/>
<div class="row">
	<div class="col s12">
		<form asp-action="Edit">
			<div asp-validation-summary="ModelOnly" class="validate"></div>
			<input type="hidden" asp-for="Id"/>
			<div class="row">
				<div class="input-field col s7">
					<select asp-for="Type" class="col s12 push-s2">
						<option value="" disabled selected>@Localizer["Choose your option"]</option>
						<option value="Monograph">@Localizer["Monograph"]</option>
						<option value="TextBook">@Localizer["TextBook"]</option>
						<option value="HandBook">@Localizer["HandBook"]</option>
						<option value="Dictionary">@Localizer["Dictionary"]</option>
						<option value="Translation">@Localizer["Translation"]</option>
						<option value="Comment">@Localizer["Comment"]</option>
						<option value="BibliographicIndex">@Localizer["Bibliographic Index"]</option>
						<option value="Other">@Localizer["Other"]</option>
					</select>
					<label asp-for="Type">@Localizer["Type"]</label>
				</div>
			</div>

			<div class="row">
				<div class="input-field col s7">
					<input asp-for="Title" type="text" class="validate">
					<label asp-for="Title">@Localizer["Title"]</label>
					<span class="helper-text" asp-validation-for="Title" data-error="" data-success=""></span>
				</div>
			</div>
			<div class="row">
				<div class="input-field col s7">
					<input asp-for="Specification" type="text" class="validate"/>
					<label asp-for="Specification">@Localizer["Specification"]</label>
					<span class="helper-text" asp-validation-for="Specification"
					      data-length="400" data-error="" data-success="">
					</span>
				</div>
			</div>
			<div class="row">
				<div class="input-field col s7">
					<input asp-for="PublishingPlace" type="text" class="validate">
					<label asp-for="PublishingPlace">@Localizer["PublishingPlace"]</label>
					<span class="helper-text" asp-validation-for="PublishingPlace" data-error="" data-success=""></span>
				</div>
			</div>
			<div class="row">
				<div class="input-field col s7">
					<input asp-for="PublishingHouseName" type="text" class="validate">
					<label asp-for="PublishingHouseName">@Localizer["PublishingHouseName"]</label>
					<span class="helper-text" asp-validation-for="PublishingHouseName" data-error="" data-success=""></span>
				</div>
			</div>
			<div class="row">
				<div class="input-field col s7">
					<input asp-for="PublishingYear" type="number" class="validate">
					<label asp-for="PublishingYear">@Localizer["PublishingYear"]</label>
					<span class="helper-text" asp-validation-for="PublishingYear" data-error="" data-success=""></span>
				</div>
			</div>

			<div class="row">
				<div class="input-field col s7">
					<input asp-for="PagesAmount" type="number" class="validate">
					<label asp-for="PagesAmount">@Localizer["PagesAmount"]</label>
					<span class="helper-text" asp-validation-for="PagesAmount" data-error="" data-success=""></span>
				</div>
			</div>
			<div class="row">
				<div class="input-field col s6">
					<input asp-for="CreatedAt" type="date" class="validate">
					<label asp-for="CreatedAt"></label>
					<span asp-validation-for="CreatedAt" data-error="" data-success=""></span>
				</div>
			</div>
			<div class="row">
				<div class="input-field col s6">
					<input asp-for="LastEditAt" type="date" class="validate">
					<label asp-for="LastEditAt"></label>
					<span asp-validation-for="LastEditAt" data-error="" data-success=""></span>
				</div>
			</div>
						<div class="row">
				<label class="col s7">
					<input type="checkbox" class="filled-in" asp-for="IsPrintCanceled"/>
					<span>@Localizer[Html.DisplayNameFor(model => model.IsPrintCanceled)]</span>
				</label>
		
				<label class="col s7">
					<input type="checkbox" class="filled-in" asp-for="IsRecommendedToPrint"/>
					<span>@Localizer[Html.DisplayNameFor(model => model.IsRecommendedToPrint)]</span>
				</label>
			</div>
			<div class="row myButtons">
				<input type="submit" value="@Localizer["Save"]" class="waves-effect btn-small  amber accent-2"/>
				<a asp-action="Index" class="btn-small blue darken-3">@Localizer["Cancel"]</a>
			</div>
		</form>
	</div>
</div>


@section Scripts {
	<script type="text/javascript">
		$(document).ready(function() {
			$('select').formSelect();
		});
	</script>
	@{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}