@model IEnumerable<ScientificReport.DAL.Entities.Publication>

@{
    ViewData["Title"] = "Index";
}

<h3>Publication</h3>

<p>
    <a asp-action="Create" class="waves-effect btn-small green darken-3">Create New</a>
</p>
<table class="responsive-table">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Type)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PublishingHouseName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PublishingYear)
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PublishingHouseName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PublishingYear)
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.Id" class="btn-small blue darken-3">Details</a>
                <a asp-action="Edit" asp-route-id="@item.Id" class="waves-effect btn-small waves-light">Edit</a>
                <form asp-action="Delete" asp-route-id="@item.Id" method="post" style="display: inline;">
                    <button type="submit" class="waves-effect btn-small deep-orange darken-3">Delete</button>
                </form>
            </td>
        </tr>
    }
    </tbody>
</table>

