@model ScientificReport.DAL.Entities.PostgraduateGuidance
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

@{
	ViewData["Title"] = "Details";
}

<h1>@Localizer["Details"]</h1>

<div>
	<h4>@Localizer["PostgraduateGuidance"]</h4>
	<hr/>
	<dl class="row">
		<dt class="col s2">
			@Localizer[Html.DisplayNameFor(model => model.PostgraduateName)]
		</dt>
		<dd class="col s10">
			@Html.DisplayFor(model => model.PostgraduateName)
		</dd>
		<dt class="col s2">
			@Localizer[Html.DisplayNameFor(model => model.PostgraduateInfo)]
		</dt>
		<dd class="col s10">
			@Html.DisplayFor(model => model.PostgraduateInfo)
		</dd>
	</dl>
</div>
<div>
	<a asp-action="Edit" asp-route-id="@Model.Id" class="waves-effect btn-small waves-light">@Localizer["Edit"]</a>
	<a asp-action="Index" class="btn-small blue darken-3">@Localizer["Back to List"]</a>
</div>
