@model ScientificReport.DAL.Entities.Article

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Article</h4>
    <hr />
    <dl class="row">
        <dt class = "col s2">
            @Html.DisplayNameFor(model => model.Type)
        </dt>
        <dd class = "col s10">
            @Html.DisplayFor(model => model.Type)
        </dd>
        <dt class = "col s2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class = "col s10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class = "col s2">
            @Html.DisplayNameFor(model => model.LiabilityInfo)
        </dt>
        <dd class = "col s10">
            @Html.DisplayFor(model => model.LiabilityInfo)
        </dd>
        <dt class = "col s2">
            @Html.DisplayNameFor(model => model.DocumentInfo)
        </dt>
        <dd class = "col s10">
            @Html.DisplayFor(model => model.DocumentInfo)
        </dd>
        <dt class = "col s2">
            @Html.DisplayNameFor(model => model.PublishingPlace)
        </dt>
        <dd class = "col s10">
            @Html.DisplayFor(model => model.PublishingPlace)
        </dd>
        <dt class = "col s2">
            @Html.DisplayNameFor(model => model.PublishingHouseName)
        </dt>
        <dd class = "col s10">
            @Html.DisplayFor(model => model.PublishingHouseName)
        </dd>
        <dt class = "col s2">
            @Html.DisplayNameFor(model => model.PublishingYear)
        </dt>
        <dd class = "col s10">
            @Html.DisplayFor(model => model.PublishingYear)
        </dd>
        <dt class = "col s2">
            @Html.DisplayNameFor(model => model.IsPeriodical)
        </dt>
        <dd class = "col s10">
            @Html.DisplayFor(model => model.IsPeriodical)
        </dd>
        <dt class = "col s2">
            @Html.DisplayNameFor(model => model.Number)
        </dt>
        <dd class = "col s10">
            @Html.DisplayFor(model => model.Number)
        </dd>
        <dt class = "col s2">
            @Html.DisplayNameFor(model => model.PagesAmount)
        </dt>
        <dd class = "col s10">
            @Html.DisplayFor(model => model.PagesAmount)
        </dd>
        <dt class = "col s2">
            @Html.DisplayNameFor(model => model.IsPrintCanceled)
        </dt>
        <dd class = "col s10">
            @Html.DisplayFor(model => model.IsPrintCanceled)
        </dd>
        <dt class = "col s2">
            @Html.DisplayNameFor(model => model.IsRecommendedToPrint)
        </dt>
        <dd class = "col s10">
            @Html.DisplayFor(model => model.IsRecommendedToPrint)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id" class="waves-effect btn-small waves-light">Edit</a>
    <a asp-action="Index" class="btn-small blue darken-3">Back to List</a>
</div>
