@using Microsoft.AspNetCore.Mvc.Localization
@model ScientificReport.DAL.Entities.Article
@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = Localizer["Details"];
}

<h3>@Localizer["Details"]</h3>

<div>
    <h5>@Localizer["Article"]</h5>
    <hr />
    <div class="row">
        <div class = "col s2">
            @Localizer[Html.DisplayNameFor(model => model.Type)]
        </div>
        <div class = "col s10">
            @Html.DisplayFor(model => model.Type)
        </div>
        <div class = "col s2">
            @Localizer[Html.DisplayNameFor(model => model.Title)]
        </div>
        <div class = "col s10">
            @Html.DisplayFor(model => model.Title)
        </div>
        <div class = "col s2">
            @Localizer[Html.DisplayNameFor(model => model.LiabilityInfo)]
        </div>
        <div class = "col s10">
            @Html.DisplayFor(model => model.LiabilityInfo)
        </div>
        <div class = "col s2">
            @Localizer[Html.DisplayNameFor(model => model.DocumentInfo)]
        </div>
        <div class = "col s10">
            @Html.DisplayFor(model => model.DocumentInfo)
        </div>
        <div class = "col s2">
            @Localizer[Html.DisplayNameFor(model => model.PublishingPlace)]
        </div>
        <div class = "col s10">
            @Html.DisplayFor(model => model.PublishingPlace)
        </div>
        <div class = "col s2">
            @Localizer[Html.DisplayNameFor(model => model.PublishingHouseName)]
        </div>
        <div class = "col s10">
            @Html.DisplayFor(model => model.PublishingHouseName)
        </div>
        <div class = "col s2">
            @Localizer[Html.DisplayNameFor(model => model.PublishingYear)]
        </div>
        <div class = "col s10">
            @Html.DisplayFor(model => model.PublishingYear)
        </div>
        <div class = "col s2">
            @Localizer[Html.DisplayNameFor(model => model.IsPeriodical)]
        </div>
        <div class = "col s10">
            <span>@Localizer[(Model.IsPeriodical ? "Yes" : "No")]</span>
        </div>
        <div class = "col s2">
            @Localizer[Html.DisplayNameFor(model => model.Number)]
        </div>
        <div class = "col s10">
            @Html.DisplayFor(model => model.Number)
        </div>
        <div class = "col s2">
            @Localizer[Html.DisplayNameFor(model => model.PagesAmount)]
        </div>
        <div class = "col s10">
            @Html.DisplayFor(model => model.PagesAmount)
        </div>
        <div class = "col s2">
            @Localizer[Html.DisplayNameFor(model => model.IsPrintCanceled)]
        </div>
        <div class = "col s10">
            <span>@Localizer[(Model.IsPrintCanceled ? "Yes" : "No")]</span>
        </div>
        <div class = "col s2">
            @Localizer[Html.DisplayNameFor(model => model.IsRecommendedToPrint)]
        </div>
        <div class = "col s10">
            <span>@Localizer[(Model.IsRecommendedToPrint ? "Yes" : "No")]</span>
        </div>
    </div>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id" class="waves-effect btn-small waves-light">@Localizer["Edit"]</a>
    <a asp-action="Index" class="btn-small blue darken-3">@Localizer["Back to List"]</a>
</div>
