@using Microsoft.AspNetCore.Mvc.Localization
@using ScientificReport.BLL.Interfaces
@using ScientificReport.Controllers.Utils
@using ScientificReport.DTO.Models.Department
@model ScientificReport.DTO.Models.Article.ArticleEditModel
@inject IViewLocalizer Localizer
@inject IUserProfileService UserProfileService

@{
	ViewData["Title"] = Localizer["Edit article"];
}
<style>
	.authors-label {
		/* margin-bottom: 10px; */
		position: relative !important;
		left: 0 !important;
		font-size: 12.5px !important;
	}
	.text-green { color: rgb(0, 179, 0); }
	.text-red { color: rgb(177, 0, 0); }
	.cursor-pointer { cursor: pointer; }
	.hidden { display: none; }
</style>
<h4>@ViewData["Title"]</h4>
<hr/>
<div class="row">
	<div class="col s12">
		<form asp-action="Edit">
			<div asp-validation-summary="ModelOnly" class="validate"></div>
			<input type="hidden" asp-for="Id"/>
			<div class="row">
				<div class="input-field col s7">
					<select asp-for="Type" class="col s12 push-s2">
						<option value="" disabled>@Localizer["Choose an option"]</option>
						<option value="ImpactFactor">@Localizer["Impact factor"]</option>
						<option value="IncludedInWebOfScienceScopusOthers">@Localizer["Included in Web of Science Scopus and others"]</option>
						<option value="ForeignPublishing">@Localizer["Foreign publishing"]</option>
						<option value="ProfessionalPublishingOfUkraine">@Localizer["Professional publishing of Ukraine"]</option>
						<option value="OtherPublishingOfUkraine">@Localizer["Other publishing of Ukraine"]</option>
						<option value="ReportThesis">@Localizer["Report thesis"]</option>
						<option value="InternationalReportThesis">@Localizer["International report thesis"]</option>
						<option value="DomesticReportThesis">@Localizer["Domestic report thesis"]</option>
						<option value="ForeignReportThesisWithResearchResults">@Localizer["Foreign report thesis with research results"]</option>
					</select>
					<label asp-for="Type">@Localizer["Type"]</label>
				</div>
			</div>
			<div class="row">
				<div class="input-field col s7">
					<input asp-for="Title" type="text" class="validate">
					<label asp-for="Title">@Localizer["Title"]</label>
					<span class="helper-text" asp-validation-for="Title" data-error="" data-success=""></span>
				</div>
			</div>
			<div class="row">
				<div class="input-field col s7">
					<textarea asp-for="LiabilityInfo" class="materialize-textarea"></textarea>
					<label asp-for="LiabilityInfo">@Localizer["Liability info"]</label>
					<span class="helper-text" asp-validation-for="LiabilityInfo" data-error="" data-success=""></span>
				</div>
			</div>
			<div class="row">
				<div class="input-field col s7">
					<textarea asp-for="DocumentInfo" class="materialize-textarea"></textarea>
					<label asp-for="DocumentInfo">@Localizer["Document info"]</label>
					<span class="helper-text" asp-validation-for="DocumentInfo" data-error="" data-success=""></span>
				</div>
			</div>
			<div class="row">
				<div class="input-field col s7">
					<input asp-for="PublishingPlace" type="text" class="validate">
					<label asp-for="PublishingPlace">@Localizer["Publishing place"]</label>
					<span class="helper-text" asp-validation-for="PublishingPlace" data-error="" data-success=""></span>
				</div>
			</div>
			<div class="row">
				<div class="input-field col s7">
					<input asp-for="PublishingHouseName" type="text" class="validate">
					<label asp-for="PublishingHouseName">@Localizer["Publishing house name"]</label>
					<span class="helper-text" asp-validation-for="PublishingHouseName" data-error="" data-success=""></span>
				</div>
			</div>
			<div class="row">
				<div class="input-field col s7">
					<input asp-for="PublishingYear" type="number" class="validate">
					<label asp-for="PublishingYear">@Localizer["Publishing year"]</label>
					<span class="helper-text" asp-validation-for="PublishingYear" data-error="" data-success=""></span>
				</div>
			</div>
			<div class="row">
				<div class="input-field col s7">
					<input asp-for="Number" type="number" class="validate">
					<label asp-for="Number">@Localizer["Number"]</label>
					<span class="helper-text" asp-validation-for="Number" data-error="" data-success=""></span>
				</div>
			</div>
			<div class="row">
				<div class="input-field col s7">
					<input asp-for="PagesAmount" type="number" class="validate">
					<label asp-for="PagesAmount">@Localizer["Pages amount"]</label>
					<span class="helper-text" asp-validation-for="PagesAmount" data-error="" data-success=""></span>
				</div>
			</div>
			<div class="row myButtons">
				<label class="col s2">
					<input type="checkbox" class="filled-in" asp-for="IsPeriodical"/>
					<span>@Localizer["Is periodical"]</span>
				</label>
			
				<label class="col s2">
					<input type="checkbox" class="filled-in" asp-for="IsPrintCanceled"/>
					<span>@Localizer["Is print canceled"]</span>
				</label>
			
				<label class="col s2">
					<input type="checkbox" class="filled-in" asp-for="IsRecommendedToPrint"/>
					<span>@Localizer["Is recommended to print"]</span>
				</label>
			</div>
			@if (PageHelpers.IsAdminOrHead(User) || Model.Authors.Contains(UserProfileService.Get(User)))
			{
				<div class="row">
					<div class="col s6">
						<label class="authors-label">@Localizer["Authors"]:</label>
						<div class="authors-list">
							@if (Model.Users != null)
							{
								var selection = Model.Users.Select(user => new SelectItem(user.FullName, user.Id.ToString(), Model.Authors.Contains(user)));
								foreach (var user in selection)
								{
									var contains = Model.Authors.Any(s => s.Id.ToString().Equals(user.Value));
									<p>
										<i class="add-user fas fa-plus-circle fa-lg cursor-pointer text-green @(contains ? "hidden" : "")" onclick="addUserToAuthors(this, '@user.Value', '@Model.Id')"></i>
										<i class="remove-user fas fa-minus-circle fa-lg cursor-pointer text-red @(contains ? "" : "hidden")" onclick="removeUserFromAuthors(this, '@user.Value', '@Model.Id')"></i>
										@user.Text
									</p>
								}
							}
						</div>
					</div>
				</div>
			}
			<div class="row myButtons">
				<button type="submit" class="waves-effect btn-small accent-2">@Localizer["Save"]</button>
				<a asp-action="Index" class="waves-effect btn-small blue darken-3">@Localizer["Cancel"]</a>
			</div>
		</form>
	</div>
</div>

@section Scripts {
	<script>
		const toggle = (tagName, actionName, bodyFn) => (tag, firstParam, secondParam) => {
			const config = {
				method: 'POST',
				body: JSON.stringify(bodyFn(firstParam)),
				headers: {
					'Content-Type': 'application/json'
				}
			};
			fetch('/Article/' + actionName + `/${secondParam}`, config).then(response => {
				if (response.status !== 200) throw { msg: `Failed to toggle ${tagName}`, response };
				tag.classList.add('hidden');
				tag.parentElement.getElementsByClassName(tagName)[0].classList.remove('hidden');
			}).catch(e => {
				console.error(e);
			});
		}

		let reqAuthorBody = (userId) => {
			return { UserId: userId };
		};
		const addUserToAuthors = toggle('remove-user', 'AddUserToAuthors', reqAuthorBody);
		const removeUserFromAuthors = toggle('add-user', 'RemoveUserFromAuthors', reqAuthorBody);
	</script>
	<script type="text/javascript">
		$(document).ready(function() {
			$('select').formSelect();
		});
	</script>
	@{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
