@using Microsoft.AspNetCore.Mvc.Localization
@using ScientificReport.DAL.Entities
@model IEnumerable<ScientificReport.DAL.Entities.Article>
@inject IViewLocalizer Localizer

@{
	ViewData["Title"] = Localizer["Index"];
}

<h3>@Localizer["Article"]</h3>

<p>
	<a asp-action="Create" class="waves-effect btn-small green darken-3">@Localizer["Create New"]</a>
</p>
<table class="responsive-table">
	<thead>
	<tr>
		<th>
			@Localizer[Html.DisplayNameFor(model => model.Type)]
		</th>
		<th>
			@Localizer[Html.DisplayNameFor(model => model.Title)]
		</th>
		<th>
			@Localizer[Html.DisplayNameFor(model => model.PublishingHouseName)]
		</th>
		<th>
			@Localizer[Html.DisplayNameFor(model => model.PublishingYear)]
		</th>
		<th></th>
	</tr>
	</thead>
	<tbody>
	@foreach (var item in Model) {
		<tr>
			<td>
				@if (item.Type == Article.Types.ImpactFactor)
				{
					<span>@Localizer["Impact Factor"]</span>
				}
				else if(item.Type == Article.Types.InternationalReportThesis)
				{
					<span>@Localizer["International Report Thesis"]</span>
				}
				else if(item.Type == Article.Types.ReportThesis)
				{
					<span>@Localizer["Report Thesis"]</span>
				}
				else if(item.Type == Article.Types.DomesticReportThesis)
				{
					<span>@Localizer["Domestic Report Thesis"]</span>
				}
				else if(item.Type == Article.Types.InternationalReportThesis)
				{
					<span>@Localizer["International Report Thesis"]</span>
				}
				else if(item.Type == Article.Types.OtherPublishingOfUkraine)
				{    
					<span>@Localizer["Other Publishing Of Ukraine"]</span>
				}
				else if(item.Type == Article.Types.ProfessionalPublishingOfUkraine)
				{
					<span>@Localizer["Professional Publishing Of Ukraine"]</span>
				}
				else if(item.Type == Article.Types.ForeignReportThesisWithResearchResults)
				{
					<span>@Localizer["Foreign Report Thesis With Research Results"]</span>
				}
				else if(item.Type == Article.Types.IncludedInWebOfScienceScopusOthers)
				{
					<span>@Localizer["Included In Web Of Science Scopus Others"]</span>
				}
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.Title)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.PublishingHouseName)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.PublishingYear)
			</td>
			<td>
				<a asp-action="Details" asp-route-id="@item.Id" class="btn-small blue darken-3">@Localizer["Details"]</a>
				<a asp-action="Edit" asp-route-id="@item.Id" class="waves-effect btn-small waves-light">@Localizer["Edit"]</a>
				<form asp-action="Delete" asp-route-id="@item.Id" method="post" style="display: inline;">
					<button type="submit" class="waves-effect btn-small deep-orange darken-3">@Localizer["Delete"]</button>
				</form>
			</td>
		</tr>
	}
	</tbody>
</table>
