@using Microsoft.AspNetCore.Mvc.Localization
@model IEnumerable<ScientificReport.DAL.Entities.AuthorsPatentLicenseActivities>
@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = Localizer["Index"];
}

<h3>@Localizer["Authors Patent License Activities"]</h3>

<p>
    <a asp-action="Create" class="waves-effect btn-small green darken-3">@Localizer["Create New"]</a>
</p>
<table class="responsive-table">
    <thead>
        <tr>
            <th>
                @Localizer[Html.DisplayNameFor(model => model.AuthorId)]
            </th>
            <th>
                @Localizer[Html.DisplayNameFor(model => model.PatentLicenseActivityId)]
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.AuthorId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PatentLicenseActivityId)
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.Id" class="btn-small blue darken-3">@Localizer["Details"]</a>
                <a asp-action="Edit" asp-route-id="@item.Id" class="waves-effect btn-small waves-light">@Localizer["Edit"]</a>
                <form asp-action="Delete" asp-route-id="@item.Id" method="post" style="display: inline;">
                    <button type="submit" class="waves-effect btn-small deep-orange darken-3">@Localizer["Delete"]</button>
                </form>
            </td>
        </tr>
}
    </tbody>
</table>
