@model ScientificReport.DTO.Models.UserProfile.ChangePasswordModel
@using Microsoft.AspNetCore.Mvc.Localization
@using ScientificReport.Controllers.Utils
@inject IViewLocalizer Localizer


@{
	ViewBag.Title = "Change password";
	Layout = "_Layout";
}
<style>
	input[type="submit"] {
		color: white !important;
	}
</style>
<h5>@Localizer["Change password"]</h5>
<hr/>
<form asp-action="ChangePassword" method="post">
	<input asp-for="Id" type="hidden">
	<div class="row">
		<div class="input-field col s6">
			<input asp-for="OldPassword" type="password" class="validate">
			<label asp-for="OldPassword">@Localizer["Old password"]</label>
			<span class="helper-text" asp-validation-for="OldPassword" data-error="" data-success=""></span>
		</div>
	</div>
	<div class="row">
		<div class="input-field col s6">
			<input asp-for="NewPassword" type="password" class="validate">
			<label asp-for="NewPassword">@Localizer["New password"]</label>
			<span class="helper-text" asp-validation-for="NewPassword" data-error="" data-success=""></span>
		</div>
	</div>
	<div class="row">
		<div class="input-field col s6">
			<input asp-for="NewPasswordRepeat" type="password" class="validate">
			<label asp-for="NewPasswordRepeat">@Localizer["Repeat new password"]</label>
			<span class="helper-text" asp-validation-for="NewPasswordRepeat" data-error="" data-success=""></span>
		</div>
	</div>
	<div class="row myButtons">
		<button type="submit" class="waves-effect btn-small waves-light">@Localizer["Save"]</button>
		@if (PageHelpers.IsAdminOrHead(User))
		{
			<a asp-action="Index" class="waves-effect btn-small blue darken-3">@Localizer["Cancel"]</a>
		}
		else
		{
			<a asp-action="Index" asp-controller="Home" class="btn-small blue darken-3">@Localizer["Cancel"]</a>
		}
	</div>
</form>
