@model ScientificReport.DTO.Models.UserProfile.UserDetailsModel

@{
	ViewData["Title"] = "Details";
}

<h3>Details</h3>

<div>
	<h5>UserProfile</h5>
	<hr/>
	<div class="row">
		<div class="col s2">
			@Html.DisplayNameFor(model => model.User.FirstName)
		</div>
		<div class="col s10">
			@Html.DisplayFor(model => model.User.FirstName)
		</div>
		<div class="col s2">
			@Html.DisplayNameFor(model => model.User.MiddleName)
		</div>
		<div class="col s10">
			@Html.DisplayFor(model => model.User.MiddleName)
		</div>
		<div class="col s2">
			@Html.DisplayNameFor(model => model.User.LastName)
		</div>
		<div class="col s10">
			@Html.DisplayFor(model => model.User.LastName)
		</div>
		<div class="col s2">
			@Html.DisplayNameFor(model => model.User.BirthYear)
		</div>
		<div class="col s10">
			@Html.DisplayFor(model => model.User.BirthYear)
		</div>
		<div class="col s2">
			@Html.DisplayNameFor(model => model.User.GraduationYear)
		</div>
		<div class="col s10">
			@Html.DisplayFor(model => model.User.GraduationYear)
		</div>
		<div class="col s2">
			@Html.DisplayNameFor(model => model.User.ScientificDegree)
		</div>
		<div class="col s10">
			@if (@Model.User.ScientificDegree != null)
			{
				@Html.DisplayFor(model => model.User.ScientificDegree)
			}
			else
			{
				<span>You don't have any scientific degree</span>
			}
		</div>
		<div class="col s2">
			@Html.DisplayNameFor(model => model.User.YearDegreeGained)
		</div>
		<div class="col s10">
			@Html.DisplayFor(model => model.User.YearDegreeGained)
		</div>
		<div class="col s2">
			@Html.DisplayNameFor(model => model.User.AcademicStatus)
		</div>
		<div class="col s10">
			@if (@Model.User.AcademicStatus != null)
			{
				@Html.DisplayFor(model => model.User.AcademicStatus)
			}
			else
			{
				<span>You don't have any Academic status</span>
			}
		</div>
		<div class="col s2">
			@Html.DisplayNameFor(model => model.User.YearDegreeAssigned)
		</div>
		<div class="col s10">
			@Html.DisplayFor(model => model.User.YearDegreeAssigned)
		</div>
		<div class="col s2">
			@Html.DisplayNameFor(model => model.User.Position)
		</div>
		<div class="col s10">
			@Html.DisplayFor(model => model.User.Position) @Html.DisplayFor(model => model.DepartmentName)
		</div>
		<div class="col s2">
			@Html.DisplayNameFor(model => model.User.IsApproved)
		</div>
		<div class="col s10">
			<span>@(Model.User.IsApproved ? "Yes" : "No")</span>
		</div>
	</div>
</div>
<div>
	<a asp-action="Edit" asp-route-id="@Model.User.Id" class="waves-effect btn-small waves-light">Edit</a>
	<a asp-action="Index" class="btn-small blue darken-3">Back to List</a>
</div>