@model ScientificReport.DAL.Entities.UserProfile.UserProfile

@{
	ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
	<h4>UserProfile</h4>
	<hr />
	<dl class="row">
		<dt class = "col-sm-2">
			@Html.DisplayNameFor(model => model.FirstName)
		</dt>
		<dd class = "col-sm-10">
			@Html.DisplayFor(model => model.FirstName)
		</dd>
		<dt class = "col-sm-2">
			@Html.DisplayNameFor(model => model.MiddleName)
		</dt>
		<dd class = "col-sm-10">
			@Html.DisplayFor(model => model.MiddleName)
		</dd>
		<dt class = "col-sm-2">
			@Html.DisplayNameFor(model => model.LastName)
		</dt>
		<dd class = "col-sm-10">
			@Html.DisplayFor(model => model.LastName)
		</dd>
		<dt class = "col-sm-2">
			@Html.DisplayNameFor(model => model.BirthYear)
		</dt>
		<dd class = "col-sm-10">
			@Html.DisplayFor(model => model.BirthYear)
		</dd>
		<dt class = "col-sm-2">
			@Html.DisplayNameFor(model => model.GraduationYear)
		</dt>
		<dd class = "col-sm-10">
		@Html.DisplayFor(model => model.GraduationYear)
		</dd>
		<dt class = "col-sm-2">
			@Html.DisplayNameFor(model => model.ScientificDegree)
		</dt>
		<dd class = "col-sm-10">
			@Html.DisplayFor(model => model.ScientificDegree)
		</dd>
		<dt class = "col-sm-2">
			@Html.DisplayNameFor(model => model.YearDegreeGained)
		</dt>
		<dd class = "col-sm-10">
			@Html.DisplayFor(model => model.YearDegreeGained)
		</dd>
		<dt class = "col-sm-2">
			@Html.DisplayNameFor(model => model.AcademicStatus)
		</dt>
		<dd class = "col-sm-10">
			@Html.DisplayFor(model => model.AcademicStatus)
		</dd>
		<dt class = "col-sm-2">
			@Html.DisplayNameFor(model => model.YearDegreeAssigned)
		</dt>
		<dd class = "col-sm-10">
			@Html.DisplayFor(model => model.YearDegreeAssigned)
		</dd>
		<dt class = "col-sm-2">
			@Html.DisplayNameFor(model => model.Position)
		</dt>
		<dd class = "col-sm-10">
			@Html.DisplayFor(model => model.Position)
		</dd>
		<dt class = "col-sm-2">
			@Html.DisplayNameFor(model => model.IsApproved)
		</dt>
		<dd class = "col-sm-10">
			@Html.DisplayFor(model => model.IsApproved)
		</dd>
	</dl>
</div>
<div>
	<a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
	<a asp-action="Index">Back to List</a>
</div>
