@using Microsoft.AspNetCore.Mvc.Localization
@using ScientificReport.Controllers.Utils
@model ScientificReport.DTO.Models.UserProfile.UserDetailsModel
@inject IViewLocalizer Localizer

@{
	ViewData["Title"] = Localizer["Details"];
}

<h3>@ViewData["Title"]</h3>

<div>
	<h5>@Localizer["UserProfile"]</h5>
	<hr/>
	<div class="row">
		<div class="col s4">
    			@Localizer[Html.DisplayNameFor(model => model.User.LastName)]
    		</div>
    		<div class="col s8">
    			@Html.DisplayFor(model => model.User.LastName)
    		</div>
		<div class="col s4">
			@Localizer[Html.DisplayNameFor(model => model.User.FirstName)]
		</div>
		<div class="col s8">
			@Html.DisplayFor(model => model.User.FirstName)
		</div>
		<div class="col s4">
			@Localizer[Html.DisplayNameFor(model => model.User.MiddleName)]
		</div>
		<div class="col s8">
			@Html.DisplayFor(model => model.User.MiddleName)
		</div>
		<div class="col s4">
			@Localizer[Html.DisplayNameFor(model => model.User.BirthYear)]
		</div>
		<div class="col s8">
			@Html.DisplayFor(model => model.User.BirthYear)
		</div>
		<div class="col s4">
			@Localizer[Html.DisplayNameFor(model => model.User.GraduationYear)]
		</div>
		<div class="col s8">
			@Html.DisplayFor(model => model.User.GraduationYear)
		</div>
		<div class="col s4">
			@Localizer[Html.DisplayNameFor(model => model.User.ScientificDegree)]
		</div>
		<div class="col s8">
			@if (@Model.User.ScientificDegree != null)
			{
				@Html.DisplayFor(model => model.User.ScientificDegree)
			}
			else
			{
				<span>@Localizer["You don't have any scientific degree"]</span>
			}
		</div>
		<div class="col s4">
			@Localizer[Html.DisplayNameFor(model => model.User.YearDegreeGained)]
		</div>
		<div class="col s8">
			@Html.DisplayFor(model => model.User.YearDegreeGained)
		</div>
		<div class="col s4">
			@Localizer[Html.DisplayNameFor(model => model.User.AcademicStatus)]
		</div>
		<div class="col s8">
			@if (@Model.User.AcademicStatus != null)
			{
				@Html.DisplayFor(model => model.User.AcademicStatus)
			}
			else
			{
				<span>@Localizer["You don't have any Academic status"]</span>
			}
		</div>
		<div class="col s4">
			@Localizer[Html.DisplayNameFor(model => model.User.YearDegreeAssigned)]
		</div>
		<div class="col s8">
			@Html.DisplayFor(model => model.User.YearDegreeAssigned)
		</div>
		<div class="col s4">
			@Localizer[Html.DisplayNameFor(model => model.User.Position)]
		</div>
		<div class="col s8">
			@Html.DisplayFor(model => model.FullPositionTitle)
		</div>
		<div class="col s4">
			@Localizer[Html.DisplayNameFor(model => model.User.IsApproved)]
		</div>
		<div class="col s8">
			<span>@(Model.User.IsApproved ? Localizer["Yes"] : Localizer["No"])</span>
		</div>
		@if (PageHelpers.IsAdminOrHead(User))
		{
			<div class="col s4">
				@Localizer[Html.DisplayNameFor(model => model.User.IsActive)]
			</div>
			<div class="col s8">
				<span>@(Model.User.IsActive ? Localizer["Yes"] : Localizer["No"])</span>
			</div>
		}
	</div>
</div>
<div>
	@if (PageHelpers.IsAdminOrHead(User) || Model.User.UserName == User.Identity.Name)
	{
		<a asp-action="Edit" asp-route-id="@Model.User.Id" class="waves-effect btn-small waves-light">@Localizer["Edit"]</a>	
	}
	@if (PageHelpers.IsAdminOrHead(User))
	{
		<a asp-action="Index" class="btn-small blue darken-3">@Localizer["Back to List"]</a>
	}
</div>
