@using Microsoft.AspNetCore.Mvc.Localization
@using ScientificReport.Controllers.Utils
@model ScientificReport.DTO.Models.UserProfile.UserDetailsModel
@inject IViewLocalizer Localizer

@{
	ViewData["Title"] = Model.User.LastName + " " + Model.User.FirstName + " " + Model.User.MiddleName;
}

<h5>@ViewData["Title"]</h5>
<hr/>
<div>
	<div class="row">
		<div class="col s4">
			@Localizer["Birth year"]
		</div>
		<div class="col s8">
			@Html.DisplayFor(model => model.User.BirthYear)
		</div>
		<div class="col s4">
			@Localizer["Sex"]
		</div>
		<div class="col s8">
			@Html.DisplayFor(model => model.User.Sex)
		</div>
		<div class="col s4">
			@Localizer["Graduation year"]
		</div>
		<div class="col s8">
			@Html.DisplayFor(model => model.User.GraduationYear)
		</div>
		<div class="col s4">
			@Localizer["Scientific degree"]
		</div>
		<div class="col s8">
			@if (@Model.User.ScientificDegree != null)
			{
				@Html.DisplayFor(model => model.User.ScientificDegree)
			}
			else
			{
				<span>@Localizer["You don't have any scientific degree"]</span>
			}
		</div>
		<div class="col s4">
			@Localizer["Year degree gained"]
		</div>
		<div class="col s8">
			@Html.DisplayFor(model => model.User.YearDegreeGained)
		</div>
		<div class="col s4">
			@Localizer["Academic status"]
		</div>
		<div class="col s8">
			@if (@Model.User.AcademicStatus != null)
			{
				@Html.DisplayFor(model => model.User.AcademicStatus)
			}
			else
			{
				<span>@Localizer["You don't have any academic status"]</span>
			}
		</div>
		<div class="col s4">
			@Localizer["Year degree assigned"]
		</div>
		<div class="col s8">
			@Html.DisplayFor(model => model.User.YearDegreeAssigned)
		</div>
		<div class="col s4">
			@Localizer[Html.DisplayNameFor(model => model.User.Position)]
		</div>
		<div class="col s8">
			@Html.DisplayFor(model => model.FullPositionTitle)
		</div>
		<div class="col s4">
			@Localizer["Is approved"]
		</div>
		<div class="col s8">
			<span>@(Model.User.IsApproved ? Localizer["Yes"] : Localizer["No"])</span>
		</div>
		@if (PageHelpers.IsAdminOrHead(User))
		{
			<div class="col s4">
				@Localizer["Is active"]
			</div>
			<div class="col s8">
				<span>@(Model.User.IsActive ? Localizer["Yes"] : Localizer["No"])</span>
			</div>
		}
	</div>
</div>
<div style="margin-top: 20px">
	@if (PageHelpers.IsAdminOrHead(User) || Model.User.UserName == User.Identity.Name)
	{
		<a asp-action="Edit" asp-route-id="@Model.User.Id" class="waves-effect btn-small waves-light">@Localizer["Edit"]</a>	
	}
	@if (PageHelpers.IsAdminOrHead(User))
	{
		<a asp-action="Index" class="btn-small blue darken-3">@Localizer["Back to list"]</a>
	}
</div>
