@model ScientificReport.DTO.Models.UserProfile.UserDetailsModel

@{
	ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
	<h4>UserProfile</h4>
	<hr />
	<dl class="row">
		<dt class = "col-sm-2">
			@Html.DisplayNameFor(model => model.User.FirstName)
		</dt>
		<dd class = "col-sm-10">
			@Html.DisplayFor(model => model.User.FirstName)
		</dd>
		<dt class = "col-sm-2">
			@Html.DisplayNameFor(model => model.User.MiddleName)
		</dt>
		<dd class = "col-sm-10">
			@Html.DisplayFor(model => model.User.MiddleName)
		</dd>
		<dt class = "col-sm-2">
			@Html.DisplayNameFor(model => model.User.LastName)
		</dt>
		<dd class = "col-sm-10">
			@Html.DisplayFor(model => model.User.LastName)
		</dd>
		<dt class = "col-sm-2">
			@Html.DisplayNameFor(model => model.User.BirthYear)
		</dt>
		<dd class = "col-sm-10">
			@Html.DisplayFor(model => model.User.BirthYear)
		</dd>
		<dt class = "col-sm-2">
			@Html.DisplayNameFor(model => model.User.GraduationYear)
		</dt>
		<dd class = "col-sm-10">
		@Html.DisplayFor(model => model.User.GraduationYear)
		</dd>
		<dt class = "col-sm-2">
			@Html.DisplayNameFor(model => model.User.ScientificDegree)
		</dt>
		<dd class = "col-sm-10">
			@Html.DisplayFor(model => model.User.ScientificDegree)
		</dd>
		<dt class = "col-sm-2">
			@Html.DisplayNameFor(model => model.User.YearDegreeGained)
		</dt>
		<dd class = "col-sm-10">
			@Html.DisplayFor(model => model.User.YearDegreeGained)
		</dd>
		<dt class = "col-sm-2">
			@Html.DisplayNameFor(model => model.User.AcademicStatus)
		</dt>
		<dd class = "col-sm-10">
			@Html.DisplayFor(model => model.User.AcademicStatus)
		</dd>
		<dt class = "col-sm-2">
			@Html.DisplayNameFor(model => model.User.YearDegreeAssigned)
		</dt>
		<dd class = "col-sm-10">
			@Html.DisplayFor(model => model.User.YearDegreeAssigned)
		</dd>
		<dt class = "col-sm-2">
			@Html.DisplayNameFor(model => model.User.Position)
		</dt>
		<dd class = "col-sm-10">
			@Html.DisplayFor(model => model.User.Position) @Html.DisplayFor(model => model.DepartmentName)
		</dd>
		<dt class = "col-sm-2">
			@Html.DisplayNameFor(model => model.User.IsApproved)
		</dt>
		<dd class = "col-sm-10">
			@Html.DisplayFor(model => model.User.IsApproved)
		</dd>
	</dl>
</div>
<div>
	<a asp-action="Edit" asp-route-id="@Model.User.Id">Edit</a> |
	<a asp-action="Index">Back to List</a>
</div>
