@model ScientificReport.DTO.Models.UserProfile.UserProfileEditModel

@{
	ViewData["Title"] = "Edit";
	Layout = "_Layout";
}

<style type="text/css">
	.roles-list {
		overflow-y: scroll;
		height: 400px;
	}
	.text-green { color: rgb(0, 179, 0); }
	.text-red { color: rgb(177, 0, 0); }
	.cursor-pointer { cursor: pointer; }
	.hidden { display: none; }
</style>

<div class="bg-primary m-1 p-1 text-white"><h4>Edit user</h4></div>
<div asp-validation-summary="All" class="text-danger"></div>
<form asp-action="Edit" method="post">
	<div class="form-group">
		<label asp-for="UserProfile.FirstName"></label>
		<input asp-for="UserProfile.FirstName" class="form-control"/>
	</div>
	<div class="form-group">
		<label asp-for="UserProfile.MiddleName"></label>
		<input asp-for="UserProfile.MiddleName" class="form-control"/>
	</div>
	<div class="form-group">
		<label asp-for="UserProfile.LastName"></label>
		<input asp-for="UserProfile.LastName" class="form-control"/>
	</div>
	<div class="form-group">
		<label asp-for="UserProfile.PhoneNumber"></label>
		<input asp-for="UserProfile.PhoneNumber" class="form-control"/>
	</div>
	<div class="form-group">
		<label asp-for="UserProfile.BirthYear"></label>
		<input asp-for="UserProfile.BirthYear" class="form-control"/>
	</div>
	<div class="form-group">
		<label asp-for="UserProfile.GraduationYear"></label>
		<input asp-for="UserProfile.GraduationYear" class="form-control"/>
	</div>
	<div class="form-group">
		<label asp-for="UserProfile.ScientificDegree"></label>
		<input asp-for="UserProfile.ScientificDegree" class="form-control"/>
	</div>
	<div class="form-group">
		<label asp-for="UserProfile.YearDegreeAssigned"></label>
		<input asp-for="UserProfile.YearDegreeAssigned" class="form-control"/>
	</div>

	<div class="col-md-4">
		<label>Roles:</label>
		<div class="authors-list">
			@if (Model.AllRoles != null && Model.UserRoles != null)
			{
				foreach (var role in Model.AllRoles)
				{
					if (role != null)
					{
						var contains = Model.UserRoles.Contains(role.Name);
						<p>
							<i class="add-role fas fa-plus-circle fa-lg cursor-pointer text-green @(contains ? "hidden" : "")" onclick="addUserToRole(this, '@role.Name', '@Model.UserProfile.Id')"></i>
							<i class="remove-role fas fa-minus-circle fa-lg cursor-pointer text-red @(contains ? "" : "hidden")" onclick="removeUserFromRole(this, '@role.Name', '@Model.UserProfile.Id')"></i>
							@role.Name
						</p>
					}
				}
			}
		</div>
	</div>
	
	<div class="form-group">
		<label asp-for="UserProfile.AcademicStatus"></label>
		<input asp-for="UserProfile.AcademicStatus" class="form-control"/>
	</div>
	<div class="form-group">
		<label asp-for="UserProfile.YearDegreeGained"></label>
		<input asp-for="UserProfile.YearDegreeGained" class="form-control"/>
	</div>
	<div class="form-group">
		<label asp-for="UserProfile.UserName"></label>
		<input asp-for="UserProfile.UserName" class="form-control"/>
	</div>
	<div class="form-group">
		<label asp-for="UserProfile.Email"></label>
		<input asp-for="UserProfile.Email" class="form-control"/>
	</div>
	<button type="submit" class="btn btn-primary">Save</button>
	<a asp-action="Index" class="btn btn-secondary">Cancel</a>
</form>

<div>
	<a asp-action="Index">Back to List</a>
</div>

@section Scripts {
	<script>    
		const toggleUserRole = (endpoint, tagName) => (tag, roleName, userId) => {
			const config = {
				method: 'POST',
				body: JSON.stringify({
					RoleName: roleName
				}),
				headers: {
					'Content-Type': 'application/json'
				}
			};
			
			console.info(roleName);
			
			fetch(`/UserProfile/${endpoint}/${userId}`, config).then(response => {
			
				console.log(response);
			
				if (response.status !== 200) throw {msg: "Failed to toggle user roles", response};
				tag.classList.add('hidden');
				tag.parentElement.getElementsByClassName(tagName)[0].classList.remove('hidden');
			}).catch(e => {
				console.error(e);
			});
		}

		const addUserToRole = toggleUserRole('AddUserToRole', 'remove-role');
		const removeUserFromRole = toggleUserRole('RemoveUserFromRole', 'add-role');
	</script>
	@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
