@model IEnumerable<ScientificReport.Models.UserProfile>

@{
	ViewData["Title"] = "Index";
}

<h1>User Profiles</h1>

<table class="table">
	<thead>
		<tr>
			<th>
				@Html.DisplayNameFor(model => model.FirstName)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.MiddleName)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.LastName)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Email)
			</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
@foreach (var item in Model) {
		<tr>
			<td>
				@Html.DisplayFor(modelItem => item.FirstName)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.MiddleName)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.LastName)
			</td>
			<th>
				@Html.DisplayFor(modelItem => item.Email)
			</th>
			<td>
				<a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
				<a asp-action="Details" asp-route-id="@item.Id">Details</a> |
				<form asp-action="Delete" asp-route-id="@item.Id" method="post">
					<button type="submit" class="btn btn-sm btn-danger">Delete</button>
				</form>
			</td>
		</tr>
}
	</tbody>
</table>
