@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.Mvc.Localization
@using ScientificReport.Controllers.Utils
@using ScientificReport.DAL.Entities.UserProfile
@model IEnumerable<ScientificReport.DAL.Entities.UserProfile.UserProfile>
@inject UserManager<UserProfile> UserManager;
@inject IViewLocalizer Localizer

@{
	ViewData["Title"] = Localizer["Index"];
}

<h3>@Localizer["Users"]</h3>

<table class="table">
	<thead>
	<tr>
		<th>
			@Localizer[Html.DisplayNameFor(model => model.LastName)]
		</th>
		<th>
			@Localizer[Html.DisplayNameFor(model => model.FirstName)]
		</th>
		<th>
			@Localizer[Html.DisplayNameFor(model => model.MiddleName)]
		</th>
		<th>
			@Localizer[Html.DisplayNameFor(model => model.Email)]
		</th>
		<th></th>
	</tr>
	</thead>
	<tbody>
	@foreach (var item in Model)
	{
		<tr>
			<td>
				@Html.DisplayFor(modelItem => item.LastName)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.FirstName)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.MiddleName)
			</td>
			<th>
				@Html.DisplayFor(modelItem => item.Email)
			</th>
			<td>
				<a asp-action="Details" asp-route-id="@item.Id" class="btn-small blue darken-3">@Localizer["Details"]</a>
				<a asp-action="Edit" asp-route-id="@item.Id" class="waves-effect btn-small waves-light">@Localizer["Edit"]</a>
				@if (item.Id != new Guid(UserManager.GetUserId(User)))
				{
					<form asp-action="SetActive" asp-route-id="@item.Id" asp-route-isActive="@(!item.IsActive)" method="post" style="display: inline;">
						<button type="submit" class="waves-effect btn-small deep-orange darken-3">@Localizer[(item.IsActive ? "Deactivate" : "Activate")]</button>
					</form>
					if (PageHelpers.IsAdmin(User))
					{
						<form asp-action="Delete" asp-route-id="@item.Id" method="post" style="display: inline;">
							<button type="submit" class="waves-effect btn-small deep-orange darken-3">@Localizer["Delete"]</button>
						</form>
					}
				}
			</td>
		</tr>
	}
	</tbody>
</table>
