@using Microsoft.AspNetCore.Mvc.Localization
@model ScientificReport.DTO.Models.UserProfile.LoginModel
@inject IViewLocalizer Localizer

@{
	ViewBag.Title = Localizer["LogIn"];
	Layout = "_Layout";
}

<style>

	input[type="submit"] {
		color: white !important;
	}
	
</style>
<h1>@Localizer["LogIn"]</h1>
<div asp-validation-summary="All" class="text-danger validation-summary-valid"></div>
<hr/>
<form asp-action="Login" method="post">
	<div class="row">
		<div class="input-field col s6">
			<input asp-for="UserName" type="text" class="validate">
			<label asp-for="UserName">@Localizer["UserName"]</label>
			<span class="helper-text" asp-validation-for="UserName" data-error="" data-success=""></span>
		</div>
	</div>
	<div class="row">
		<div class="input-field col s6">
			<input asp-for="Password" type="password" class="validate">
			<label asp-for="Password">@Localizer["Password"]</label>
			<span class="helper-text" asp-validation-for="Password" data-error="" data-success=""></span>
		</div>
	</div>
	<div class="row">
		<label class="col s7">
			<input type="checkbox" class="filled-in" asp-for="RememberMe"/>
			<span>@Localizer[Html.DisplayNameFor(model => model.RememberMe)]</span>
		</label>
	</div>
	<div class="row myButtons">
		<input type="submit" value="@Localizer["LogIn"]" class="waves-effect btn-small  waves-light"/>
		<a asp-action="Index" class="btn-small blue darken-3">@Localizer["Cancel"]</a>
	</div>
</form>
