@using Microsoft.AspNetCore.Mvc.Localization
@using ScientificReport.DTO.Models.Department
@model ScientificReport.DTO.Models.UserProfile.RegisterModel
@inject IViewLocalizer Localizer

@{
	ViewBag.Title = Localizer["Register"];
	Layout = "_Layout";
}

<style>
	input[type="submit"] { color: white !important; }
	
	.myLabel {
		/* margin-bottom: 10px; */
		position: relative !important;
		left: 0 !important;
		font-size: 12.5px !important;
	}
</style>

<h5>@Localizer["Create a new account"]</h5>
<hr style="margin-bottom: 20px"/>
<div class="row">
	<div class="col s12">
		<form asp-action="Register" method="post">
			<div asp-validation-summary="ModelOnly" class="validate"></div>
			<div class="row">
				<div class="input-field col s4">
					<input asp-for="LastName" type="text" class="validate">
					<label asp-for="LastName">@Localizer["Last name"]</label>
					<span class="helper-text" asp-validation-for="LastName" data-error="" data-success=""></span>
				</div>
				<div class="input-field col s4">
					<input asp-for="FirstName" type="text" class="validate">
					<label asp-for="FirstName">@Localizer["First name"]</label>
					<span class="helper-text" asp-validation-for="FirstName" data-error="" data-success=""></span>
				</div>
				<div class="input-field col s4">
					<input asp-for="MiddleName" type="text" class="validate">
					<label asp-for="MiddleName">@Localizer["Middle name"]</label>
					<span class="helper-text" asp-validation-for="MiddleName" data-error="" data-success=""></span>
				</div>
			</div>
			<div class="row">
				<div class="input-field col s4">
					<input asp-for="UserName" type="text" class="validate">
					<label asp-for="UserName">@Localizer["User name"]</label>
					<span class="helper-text" asp-validation-for="UserName" data-error="" data-success=""></span>
				</div>
				<div class="input-field col s4">
					<input asp-for="Email" type="email" class="validate">
					<label asp-for="Email">@Localizer["Email"]</label>
					<span class="helper-text" asp-validation-for="Email" data-error="" data-success=""></span>
				</div>
				<div class="input-field col s4">
					<input asp-for="PhoneNumber" type="text" class="validate">
					<label asp-for="PhoneNumber">@Localizer["Phone number"]</label>
					<span class="helper-text" asp-validation-for="PhoneNumber" data-error="" data-success=""></span>
				</div>
			</div>
			<div class="row">
				<div class="input-field col s6">
					<input asp-for="Password" type="password" class="validate">
					<label asp-for="Password">@Localizer["Password"]</label>
					<span class="helper-text" asp-validation-for="Password" data-error="" data-success=""></span>
				</div>
				<div class="input-field col s6">
					<input asp-for="PasswordRepeat" type="password" class="validate">
					<label asp-for="PasswordRepeat">@Localizer["Repeat password"]</label>
					<span class="helper-text" asp-validation-for="PasswordRepeat" data-error="" data-success=""></span>
				</div>
			</div>
			<div class="row">
				<div class="input-field col s12">
					<label asp-for="SelectedDepartmentId" class="myLabel">@Localizer["Choose a department where you expect to work"]</label>
					@{
						var departmentSelection = Model.Departments.Select(d => new SelectItem(d.Title, d.Id.ToString()));
					}
					@Html.DropDownListFor(x => Model.SelectedDepartmentId, new SelectList(departmentSelection, "Value", "Text"))
					@Html.ValidationMessageFor(x => x.SelectedDepartmentId, "", new {@class = "validate", @required = "required"})
					<br/>
				</div>
			</div>
			<div class="row">
				<button type="submit" class="waves-effect btn-small accent-2">@Localizer["Register"]</button>
				<a asp-action="Index" class="waves-effect btn-small blue darken-3">@Localizer["Cancel"]</a>
			</div>
		</form>
	</div>
</div>

@section Scripts { 
	<script type="text/javascript">
		$(document).ready(function() {
			$('select').formSelect();
		});
	</script>
}
