@model ScientificReport.DTO.Models.PostgraduateDissertationGuidance.PostgraduateDissertationGuidanceModel
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

@{
	ViewData["Title"] = Localizer["Add postgraduate dissertation guidance"];
}

<h5>@Localizer["Add postgraduate dissertation guidance"]</h5>
<hr/>
<div class="row">
	<div class="col s12">
		<form asp-action="Create">
			<div asp-validation-summary="ModelOnly" class="validate"></div>
			<div class="row">
				<div class="input-field col s6">
					<input asp-for="PostgraduateName" type="text" class="validate">
					<label asp-for="PostgraduateName">@Localizer["Postgraduate name"]</label>
					<span class="helper-text" asp-validation-for="PostgraduateName" 
						  data-error="" data-success=""></span>
				</div>
			</div>
			<div class="row">
				<div class="input-field col s6">
					<input asp-for="Dissertation" type="text" class="validate">
					<label asp-for="Dissertation">@Localizer["Dissertation"]</label>
					<span class="helper-text" asp-validation-for="Dissertation" 
						   data-error="" data-success=""></span>
				</div>
			</div>
			<div class="row">
				<div class="input-field col s6">
					<input asp-for="Speciality" type="text" class="validate"/>
					<label asp-for="Speciality">@Localizer["Speciality"]</label>
					<span class="helper-text" asp-validation-for="Speciality" 
						  data-error="" data-success=""></span>
				</div>
			</div>
			<div class="row">
				<div class="input-field col s6">
					<input asp-for="DateDegreeGained" type="date" class="validate"/>
					<label asp-for="DateDegreeGained">@Localizer["Date degree gained"]</label>
					<span class="helper-text" asp-validation-for="DateDegreeGained" 
						  data-error="" data-success=""></span>
				</div>
			</div>
			<div class="row">
				<div class="input-field col s6">
					<input asp-for="GraduationYear" type="number" class="validate"/>
					<label asp-for="GraduationYear">@Localizer["Graduation year"]</label>
					<span class="helper-text" asp-validation-for="GraduationYear" 
						  data-error="" data-success=""></span>
				</div>
			</div>
			<div class="row myButtons">
				<button type="submit" class="waves-effect btn-small accent-2">@Localizer["Create"]</button>
				<a asp-action="Index" class="waves-effect btn-small blue darken-3">@Localizer["Cancel"]</a>
			</div>
		</form>
	</div>
</div>

@section Scripts {
	@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
