@model ScientificReport.DAL.Entities.PostgraduateDissertationGuidance
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

@{
	ViewData["Title"] = Localizer["Postgraduate dissertation guidance - Details"];
}
<style>
	.input-field, .row {
		margin-bottom: 0 !important;
		margin-top: 0 !important;
	}
</style>

<div>
	<h5>@ViewData["Title"]</h5>
	<hr />
	<dl class="row">
		<dt class = "col s2">
			@Localizer["Postgraduate name"]
		</dt>
		<dd class = "col s10">
			@Html.DisplayFor(model => model.PostgraduateName)
		</dd>
		<dt class = "col s2">
			@Localizer[Html.DisplayNameFor(model => model.Dissertation)]
		</dt>
		<dd class = "col s10">
			@Html.DisplayFor(model => model.Dissertation)
		</dd>
		<dt class = "col s2">
			@Localizer[Html.DisplayNameFor(model => model.Speciality)]
		</dt>
		<dd class = "col s10">
			@Html.DisplayFor(model => model.Speciality)
		</dd>
		<dt class = "col s2">
			@Localizer["Date degree gained"]
		</dt>
		<dd class = "col s10">
			@Html.DisplayFor(model => model.DateDegreeGained)
		</dd>
		<dt class = "col s2">
			@Localizer["Graduation year"]
		</dt>
		<dd class = "col s10">
			@Html.DisplayFor(model => model.GraduationYear)
		</dd>
	</dl>
</div>
<div style="margin-top: 20px">
	<a asp-action="Edit" asp-route-id="@Model.Id" class="waves-effect btn-small waves-light">@Localizer["Edit"]</a>
	<a asp-action="Index" class="btn-small blue darken-3">@Localizer["Back to list"]</a>
</div>
