@model ScientificReport.DAL.Entities.PostgraduateDissertationGuidance

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>PostgraduateDissertationGuidance</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PostgraduateName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PostgraduateName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Dissertation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Dissertation)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Speciality)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Speciality)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateDegreeGained)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateDegreeGained)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GraduationYear)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GraduationYear)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
